/*-----VARIABLES Y DECLARACIONES GENERALES--------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0DEBB;
}

/*-----------HEADER----------*/
header {
  display: flex;
  background-color: #541734;
  width: 100%;
  height: 4rem;
}
header .logo {
  width: 30px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
header h1 {
  font-family: "Italianno", cursive;
  font-size: 2.4rem;
  margin-top: 15px;
  margin-left: 10px;
  color: white;
}

/*----CARRUSEL-----*/
.section-carrusel .carousel {
  max-width: 100%;
}
.section-carrusel .carousel .carousel-inner .carousel-item .carrusel-img {
  height: 30vh;
}

/*------PRESENTACION-------*/
.section-presentacion {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.section-presentacion .presentacion-texto-bienvenida {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
  color: #16453F;
  text-align: center;
}
.section-presentacion .presentacion-texto {
  font-family: "Narnoor", serif;
  font-size: 1.1rem;
  color: black;
  width: 95%;
  margin-left: 1vw;
  margin-top: -16px;
  text-align: center;
}

/*--------CARTA Y PRODUCTOS---------*/
.section-carta {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  border-top: 2px solid #541734;
  border-bottom: 2px solid #541734;
}
.section-carta .carta-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
  color: #16453F;
  text-align: center;
  margin-top: 0.3rem;
}
.section-carta .carta-texto {
  font-family: "Narnoor", serif;
  font-size: 1.1rem;
  color: black;
  width: 95%;
  margin-left: 1vw;
  margin-top: -2px;
  text-align: center;
}
.section-carta .carta-texto .carta-link {
  font-family: "Anton", sans-serif;
  text-decoration: none;
  color: #541734;
}
.section-carta .carta-texto .carta-link:hover {
  font-size: 1.3rem;
}
.section-carta .carta-texto2 {
  font-family: "Narnoor", serif;
  font-size: 0.93rem;
  color: black;
  width: 95%;
  margin-left: 1vw;
  margin-top: -16px;
  text-align: center;
}

.section-productos {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  border-bottom: 2px solid #541734;
}
.section-productos .productos-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
  color: #16453F;
  text-align: center;
}
.section-productos .productos-texto {
  font-family: "Narnoor", serif;
  font-size: 1.1rem;
  color: black;
  width: 95%;
  margin-left: 1vw;
  margin-top: -2px;
  text-align: center;
}
.section-productos .productos-texto .productos-link {
  font-family: "Anton", sans-serif;
  text-decoration: none;
  color: #541734;
}
.section-productos .productos-texto .productos-link:hover {
  font-size: 1.3rem;
}
.section-productos .productos-texto2 {
  font-family: "Narnoor", serif;
  font-size: 0.93rem;
  color: black;
  width: 95%;
  margin-left: 1vw;
  margin-top: -16px;
  text-align: center;
}

/*------TARJETAS------*/
.section-tarjetas {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.section-tarjetas .tarjetas-contenedor {
  background-color: #16453F;
  height: 150px;
  display: flex;
  width: 95%;
}
.section-tarjetas .tarjetas-contenedor .tarjetas-img1 {
  width: 130px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.section-tarjetas .tarjetas-contenedor .tarjetas-estructura {
  display: flexbox;
}
.section-tarjetas .tarjetas-contenedor .tarjetas-estructura .tarjetas-div-oferta1 {
  background-color: #541734;
  border-radius: 30px;
  width: 155px;
  height: 30px;
  margin-left: 5px;
  position: relative;
  top: 10px;
}
.section-tarjetas .tarjetas-contenedor .tarjetas-estructura .tarjetas-div-oferta1 .tarjetas-oferta1 {
  color: white;
  margin-left: 8px;
  position: relative;
  top: -2px;
  font-size: 1.1rem;
  font-family: "Narnoor", serif;
}
.section-tarjetas .tarjetas-contenedor .tarjetas-estructura .tarjetas-texto {
  color: white;
  font-size: 1rem;
  font-family: "Narnoor", serif;
  width: 90%;
  margin-left: 10px;
  position: relative;
  top: 12px;
}
.section-tarjetas .tarjetas-contenedor .tarjetas-estructura .tarjetas-texto-carrito {
  color: beige;
  font-size: 1rem;
  font-family: "Narnoor", serif;
  margin-left: 10px;
}
.section-tarjetas .tarjetas-contenedor .tarjetas-estructura .tarjetas-texto-carrito:hover {
  font-size: 1.1rem;
  text-decoration: underline;
}

.section-tarjetas2 {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.section-tarjetas2 .tarjetas-contenedor2 {
  background-color: #16453F;
  height: 150px;
  display: flex;
  width: 95%;
}
.section-tarjetas2 .tarjetas-contenedor2 .tarjetas-img2 {
  width: 130px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.section-tarjetas2 .tarjetas-contenedor2 .tarjetas-estructura2 {
  display: flexbox;
}
.section-tarjetas2 .tarjetas-contenedor2 .tarjetas-estructura2 .tarjetas-div-oferta2 {
  background-color: #541734;
  border-radius: 30px;
  width: 112px;
  height: 30px;
  margin-left: 5px;
  position: relative;
  top: 10px;
}
.section-tarjetas2 .tarjetas-contenedor2 .tarjetas-estructura2 .tarjetas-div-oferta2 .tarjetas-oferta2 {
  color: white;
  margin-left: 8px;
  position: relative;
  top: -2px;
  font-size: 1.1rem;
  font-family: "Narnoor", serif;
}
.section-tarjetas2 .tarjetas-contenedor2 .tarjetas-estructura2 .tarjetas-texto2 {
  color: white;
  font-size: 1rem;
  font-family: "Narnoor", serif;
  width: 90%;
  margin-left: 10px;
  position: relative;
  top: 12px;
}
.section-tarjetas2 .tarjetas-contenedor2 .tarjetas-estructura2 .tarjetas-texto-carrito2 {
  color: beige;
  font-size: 1rem;
  font-family: "Narnoor", serif;
  margin-left: 10px;
}
.section-tarjetas2 .tarjetas-contenedor2 .tarjetas-estructura2 .tarjetas-texto-carrito2:hover {
  font-size: 1.1rem;
  text-decoration: underline;
}

.section-tarjetas3 {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.section-tarjetas3 .tarjetas-contenedor3 {
  background-color: #16453F;
  height: 150px;
  display: flex;
  width: 95%;
}
.section-tarjetas3 .tarjetas-contenedor3 .tarjetas-img3 {
  width: 130px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.section-tarjetas3 .tarjetas-contenedor3 .tarjetas-estructura3 {
  display: flexbox;
}
.section-tarjetas3 .tarjetas-contenedor3 .tarjetas-estructura3 .tarjetas-div-oferta3 {
  background-color: #541734;
  border-radius: 30px;
  width: 170px;
  height: 30px;
  margin-left: 5px;
  position: relative;
  top: 10px;
}
.section-tarjetas3 .tarjetas-contenedor3 .tarjetas-estructura3 .tarjetas-div-oferta3 .tarjetas-oferta3 {
  color: white;
  margin-left: 8px;
  position: relative;
  top: -2px;
  font-size: 1.1rem;
  font-family: "Narnoor", serif;
}
.section-tarjetas3 .tarjetas-contenedor3 .tarjetas-estructura3 .tarjetas-texto3 {
  color: white;
  font-size: 1rem;
  font-family: "Narnoor", serif;
  width: 90%;
  margin-left: 10px;
  position: relative;
  top: 12px;
}
.section-tarjetas3 .tarjetas-contenedor3 .tarjetas-estructura3 .tarjetas-texto-carrito3 {
  color: beige;
  font-size: 1rem;
  font-family: "Narnoor", serif;
  margin-left: 10px;
}
.section-tarjetas3 .tarjetas-contenedor3 .tarjetas-estructura3 .tarjetas-texto-carrito3:hover {
  font-size: 1.1rem;
  text-decoration: underline;
}

/*------DIRECCION-----*/
.section-direccion {
  margin-top: 6rem;
  text-align: center;
  color: black;
}
.section-direccion .direccion-titulo {
  font-family: "Anton", sans-serif;
}
.section-direccion .direccion-titulo .direccion-titulo-enlace {
  text-decoration: none;
  color: #541734;
}
.section-direccion .direccion-maps-contenedor {
  margin-top: 1rem;
}
.section-direccion .direccion-maps-contenedor .direccion-maps {
  width: 90vw;
  height: 30vh;
}

/*------GALERIA-------*/
.section-galeria {
  margin-top: 5rem;
}
.section-galeria .galeria-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.7rem;
  text-align: center;
  color: #16453F;
}
.section-galeria .galeria-contenedor {
  width: 95%;
  margin-left: 2.4vw;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
  gap: 2vw;
}
.section-galeria .galeria-contenedor .galeria-img1 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img2 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img3 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img4 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img5 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img6 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img7 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img8 {
  width: 47vw;
  height: 22vh;
}

/*--------INFORMACION DE ENVIOS, PAGOS Y WSPP-------*/
.section-info {
  margin-top: 5rem;
}
.section-info .info-contenedor {
  width: 100%;
  background-color: #857555;
}
.section-info .info-contenedor .info-envios-div {
  text-align: center;
  display: flex;
  justify-content: center;
}
.section-info .info-contenedor .info-envios-div .bi-truck {
  margin-right: 10px;
  margin-top: 6px;
  font-size: 40px;
}
.section-info .info-contenedor .info-envios-div .info-envios-estructura {
  margin-right: 2rem;
  margin-top: 1rem;
}
.section-info .info-contenedor .info-envios-div .info-envios-estructura .info-envios-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: black;
}
.section-info .info-contenedor .info-envios-div .info-envios-estructura .info-envios-texto {
  font-family: "Anton", sans-serif;
  font-size: 1rem;
  margin-top: -10px;
  color: black;
}
.section-info .info-contenedor .info-pagos-div {
  text-align: center;
  display: flex;
  justify-content: center;
}
.section-info .info-contenedor .info-pagos-div .bi-credit-card-fill {
  margin-top: 5px;
  font-size: 40px;
  margin-right: 10px;
}
.section-info .info-contenedor .info-pagos-div .info-pagos-estructura {
  margin-top: 1rem;
  margin-right: 2rem;
}
.section-info .info-contenedor .info-pagos-div .info-pagos-estructura .info-pagos-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: black;
}
.section-info .info-contenedor .info-wspp-div {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-right: 28px;
}
.section-info .info-contenedor .info-wspp-div .bi-whatsapp {
  margin-top: -18px;
  font-size: 40px;
  margin-right: 10px;
}
.section-info .info-contenedor .info-wspp-div .info-wspp-estructura .info-wspp-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: black;
}

/*-----FOOTER-----*/
footer {
  margin-top: 2rem;
  background-color: #541734;
  text-align: center;
}
footer .footer-nav .footer-nav-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: beige;
}
footer .footer-nav .footer-nav-lista {
  list-style: none;
  position: relative;
  left: -20px;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
