/*-----VARIABLES Y DECLARACIONES GENERALES--------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0DEBB;
}

/*-----------HEADER----------*/
header {
  display: flex;
  justify-content: space-between;
  background-color: #541734;
  width: 100%;
}
header .logo {
  width: 30px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
header h1 {
  font-family: "Italianno", cursive;
  font-size: 2.4rem;
  margin-top: -32px;
  margin-left: 45px;
  width: 130px;
}
header #h1-link {
  text-decoration: none;
  color: #F0DEBB;
}
header .navbar .container-fluid {
  margin-left: 2rem;
}
header .navbar .container-fluid .navbar-toggler {
  background-color: #F0DEBB;
}
header .navbar .container-fluid .collapse {
  min-height: 200px;
}
header .navbar .container-fluid .collapse .navbar-nav {
  height: 120px;
  width: 150px;
  margin-top: 12px;
  color: beige;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-link {
  margin-top: -10px;
  color: beige;
  width: 40vw;
}
header .navbar .container-fluid .collapse #color-mode {
  font-family: "Narnoor", serif;
  position: relative;
  top: 20px;
}
header .navbar .container-fluid .collapse .btn {
  background-color: #16453F;
  color: white;
  border: solid black 2px;
}

/*----CARRUSEL-----*/
.section-carrusel .carousel {
  max-width: 100%;
}
.section-carrusel .carousel .carousel-inner .carousel-item .carrusel-img {
  height: 30vh;
}

/*------PRESENTACION-------*/
.section-presentacion {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.section-presentacion #presentacion-texto-bienvenida {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
  color: #16453F;
  text-align: center;
}
.section-presentacion #presentacion-texto {
  font-family: "Narnoor", serif;
  font-size: 1.1rem;
  color: black;
  width: 95%;
  margin-left: 1vw;
  margin-top: -16px;
  text-align: center;
}

/*------- PRODUCTOS Y RESERVAS ---------*/
#section-productos {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 92vw;
  background-color: bisque;
  box-shadow: 5px 5px #38383e;
  margin-left: 4vw;
  min-height: 135px;
}
#section-productos #productos-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
  color: #16453F;
  text-align: center;
  margin-top: 0.7rem;
}
#section-productos #productos-texto {
  font-family: "Narnoor", serif;
  font-size: 1.1rem;
  color: black;
  width: 100%;
  margin-left: 1vw;
  margin-top: -2px;
  text-align: center;
}
#section-productos #productos-texto #productos-link {
  font-family: "Anton", sans-serif;
  text-decoration: none;
  color: #541734;
  font-size: 1rem;
}
#section-productos #productos-texto #productos-link:hover {
  font-size: 1.1rem;
}
#section-productos #productos-texto2 {
  font-family: "Narnoor", serif;
  font-size: 0.93rem;
  color: black;
  width: 100%;
  margin-left: 1vw;
  margin-top: -16px;
  text-align: center;
}

#section-reservas {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 92vw;
  background-color: bisque;
  box-shadow: 5px 5px #38383e;
  margin-left: 4vw;
  min-height: 70px;
}
#section-reservas #reservas-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
  color: #16453F;
  text-align: center;
  margin-top: 0.3rem;
}
#section-reservas #reservas-texto {
  font-family: "Narnoor", serif;
  font-size: 1.1rem;
  color: black;
  width: 95%;
  margin-left: 1vw;
  margin-top: -2px;
  text-align: center;
}
#section-reservas #reservas-texto #reservas-link {
  font-family: "Anton", sans-serif;
  text-decoration: none;
  color: #541734;
  font-size: 1rem;
}
#section-reservas #reservas-texto #reservas-link:hover {
  font-size: 1.1rem;
}

/*------TARJETAS------*/
.section-tarjetas {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.section-tarjetas #tarjetas-contenedor {
  background-color: #16453F;
  height: 150px;
  display: flex;
  width: 95%;
}
.section-tarjetas #tarjetas-contenedor .tarjetas-img1 {
  width: 130px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.section-tarjetas #tarjetas-contenedor .tarjetas-estructura {
  display: flexbox;
}
.section-tarjetas #tarjetas-contenedor .tarjetas-estructura .tarjetas-div-oferta1 {
  background-color: #541734;
  border-radius: 30px;
  width: 155px;
  height: 30px;
  margin-left: 5px;
  position: relative;
  top: 10px;
}
.section-tarjetas #tarjetas-contenedor .tarjetas-estructura .tarjetas-div-oferta1 .tarjetas-oferta1 {
  color: white;
  margin-left: 8px;
  position: relative;
  top: -2px;
  font-size: 1.1rem;
  font-family: "Narnoor", serif;
}
.section-tarjetas #tarjetas-contenedor .tarjetas-estructura .tarjetas-texto {
  color: white;
  font-size: 1rem;
  font-family: "Narnoor", serif;
  width: 90%;
  margin-left: 10px;
  position: relative;
  top: 12px;
}
.section-tarjetas #tarjetas-contenedor .tarjetas-estructura .tarjetas-texto-carrito {
  color: beige;
  font-size: 1rem;
  font-family: "Narnoor", serif;
  margin-left: 10px;
}
.section-tarjetas #tarjetas-contenedor .tarjetas-estructura .tarjetas-texto-carrito:hover {
  font-size: 1.1rem;
}

.section-tarjetas2 {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.section-tarjetas2 #tarjetas-contenedor2 {
  background-color: #16453F;
  height: 150px;
  display: flex;
  width: 95%;
}
.section-tarjetas2 #tarjetas-contenedor2 .tarjetas-img2 {
  width: 130px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.section-tarjetas2 #tarjetas-contenedor2 .tarjetas-estructura2 {
  display: flexbox;
}
.section-tarjetas2 #tarjetas-contenedor2 .tarjetas-estructura2 .tarjetas-div-oferta2 {
  background-color: #541734;
  border-radius: 30px;
  width: 112px;
  height: 30px;
  margin-left: 5px;
  position: relative;
  top: 10px;
}
.section-tarjetas2 #tarjetas-contenedor2 .tarjetas-estructura2 .tarjetas-div-oferta2 .tarjetas-oferta2 {
  color: white;
  margin-left: 8px;
  position: relative;
  top: -2px;
  font-size: 1.1rem;
  font-family: "Narnoor", serif;
}
.section-tarjetas2 #tarjetas-contenedor2 .tarjetas-estructura2 .tarjetas-texto2 {
  color: white;
  font-size: 1rem;
  font-family: "Narnoor", serif;
  width: 90%;
  margin-left: 10px;
  position: relative;
  top: 12px;
}
.section-tarjetas2 #tarjetas-contenedor2 .tarjetas-estructura2 .tarjetas-texto-carrito2 {
  color: beige;
  font-size: 1rem;
  font-family: "Narnoor", serif;
  margin-left: 10px;
}
.section-tarjetas2 #tarjetas-contenedor2 .tarjetas-estructura2 .tarjetas-texto-carrito2:hover {
  font-size: 1.1rem;
}

.section-tarjetas3 {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.section-tarjetas3 #tarjetas-contenedor3 {
  background-color: #16453F;
  height: 150px;
  display: flex;
  width: 95%;
}
.section-tarjetas3 #tarjetas-contenedor3 .tarjetas-img3 {
  width: 130px;
  height: 150px;
  display: flex;
  justify-content: center;
}
.section-tarjetas3 #tarjetas-contenedor3 .tarjetas-estructura3 {
  display: flexbox;
}
.section-tarjetas3 #tarjetas-contenedor3 .tarjetas-estructura3 .tarjetas-div-oferta3 {
  background-color: #541734;
  border-radius: 30px;
  width: 170px;
  height: 30px;
  margin-left: 5px;
  position: relative;
  top: 10px;
}
.section-tarjetas3 #tarjetas-contenedor3 .tarjetas-estructura3 .tarjetas-div-oferta3 .tarjetas-oferta3 {
  color: white;
  margin-left: 8px;
  position: relative;
  top: -2px;
  font-size: 1.1rem;
  font-family: "Narnoor", serif;
}
.section-tarjetas3 #tarjetas-contenedor3 .tarjetas-estructura3 .tarjetas-texto3 {
  color: white;
  font-size: 1rem;
  font-family: "Narnoor", serif;
  width: 90%;
  margin-left: 10px;
  position: relative;
  top: 12px;
}
.section-tarjetas3 #tarjetas-contenedor3 .tarjetas-estructura3 .tarjetas-texto-carrito3 {
  color: beige;
  font-size: 1rem;
  font-family: "Narnoor", serif;
  margin-left: 10px;
}
.section-tarjetas3 #tarjetas-contenedor3 .tarjetas-estructura3 .tarjetas-texto-carrito3:hover {
  font-size: 1.1rem;
}

/*------DIRECCION-----*/
.section-direccion {
  margin-top: 6rem;
  text-align: center;
  color: black;
}
.section-direccion #direccion-titulo {
  font-family: "Anton", sans-serif;
}
.section-direccion #direccion-titulo #direccion-titulo-enlace {
  text-decoration: none;
  color: #541734;
}
.section-direccion .direccion-maps-contenedor {
  margin-top: 1rem;
}
.section-direccion .direccion-maps-contenedor .direccion-maps {
  width: 90vw;
  height: 30vh;
}

/*------GALERIA-------*/
.section-galeria {
  margin-top: 5rem;
}
.section-galeria #galeria-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.7rem;
  text-align: center;
  color: #16453F;
}
.section-galeria .galeria-contenedor {
  width: 95%;
  margin-left: 2.4vw;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
  gap: 2vw;
}
.section-galeria .galeria-contenedor .galeria-img1 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img2 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img3 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img4 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img5 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img6 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img7 {
  width: 47vw;
  height: 22vh;
}
.section-galeria .galeria-contenedor .galeria-img8 {
  width: 47vw;
  height: 22vh;
}

/*--------INFORMACION DE ENVIOS, PAGOS Y WSPP-------*/
.section-info {
  margin-top: 4rem;
}
.section-info #info-contenedor {
  width: 100%;
  background-color: #857555;
}
.section-info #info-contenedor #info-envios-div {
  text-align: center;
  display: flex;
  justify-content: center;
}
.section-info #info-contenedor #info-envios-div .bi-truck {
  margin-right: 10px;
  margin-top: 6px;
  font-size: 40px;
  color: black;
}
.section-info #info-contenedor #info-envios-div .info-envios-estructura {
  margin-right: 2rem;
  margin-top: 1rem;
}
.section-info #info-contenedor #info-envios-div .info-envios-estructura #info-envios-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: black;
}
.section-info #info-contenedor #info-envios-div .info-envios-estructura #info-envios-texto {
  font-family: "Anton", sans-serif;
  font-size: 1rem;
  margin-top: -10px;
  color: black;
}
.section-info #info-contenedor #info-pagos-div {
  text-align: center;
  display: flex;
  justify-content: center;
}
.section-info #info-contenedor #info-pagos-div .bi-credit-card-fill {
  margin-top: 5px;
  font-size: 40px;
  margin-right: 10px;
  color: black;
}
.section-info #info-contenedor #info-pagos-div .info-pagos-estructura {
  margin-top: 1rem;
  margin-right: 2rem;
}
.section-info #info-contenedor #info-pagos-div .info-pagos-estructura #info-pagos-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: black;
}
.section-info #info-contenedor #info-wspp-div {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-right: 28px;
}
.section-info #info-contenedor #info-wspp-div .bi-whatsapp {
  margin-top: -18px;
  font-size: 40px;
  margin-right: 10px;
  color: black;
}
.section-info #info-contenedor #info-wspp-div .info-wspp-estructura #info-wspp-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: black;
}

/*-----FOOTER-----*/
footer {
  margin-top: 4rem;
  background-color: #541734;
  text-align: center;
  height: 820px;
}
footer .footer-nav {
  position: relative;
  top: 1rem;
}
footer .footer-nav .footer-nav-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: beige;
}
footer .footer-nav .footer-nav-lista {
  list-style: none;
  position: relative;
  left: -20px;
}
footer .footer-nav .footer-nav-lista .footer-nav-links {
  text-decoration: none;
  color: white;
}
footer .footer-nav .footer-nav-lista .link-in:hover {
  color: #16453F;
  font-size: 1.1rem;
}
footer .footer-nav .footer-nav-lista .link-pr:hover {
  color: #16453F;
  font-size: 1.1rem;
}
footer .footer-nav .footer-nav-lista .link-re:hover {
  color: #16453F;
  font-size: 1.1rem;
}
footer .footer-nav .footer-nav-lista .link-co:hover {
  color: #16453F;
  font-size: 1.1rem;
}
footer .footer-redes {
  margin-top: 4rem;
}
footer .footer-redes .redes-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: beige;
}
footer .footer-redes .redes-lista {
  list-style: none;
  position: relative;
  left: -20px;
  color: white;
}
footer .footer-redes .redes-lista .redes-ig:hover {
  color: #833AB4;
  font-size: 1.1rem;
}
footer .footer-redes .redes-lista .redes-fb:hover {
  color: #3b5998;
  font-size: 1.1rem;
}
footer .footer-redes .redes-lista .redes-tw:hover {
  color: #00acee;
  font-size: 1.1rem;
}
footer .footer-pagos {
  margin-top: 3rem;
}
footer .footer-pagos .pagos-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: beige;
}
footer .footer-pagos .pagos-img {
  margin-top: -0.5rem;
  width: 250px;
}
footer .footer-email {
  margin-top: 3rem;
}
footer .footer-email .email-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: beige;
}
footer .footer-email .email-div-formulario {
  margin-top: 12px;
}
footer .footer-ubicacion {
  margin-top: 3rem;
}
footer .footer-ubicacion .ubicacion-titulo {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  color: beige;
}
footer .footer-ubicacion .ubicacion-link {
  text-decoration: none;
  color: white;
}
footer .footer-copyright {
  margin-top: 2rem;
}
footer .footer-copyright .copyright-texto {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  color: white;
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 1.7rem;
  color: #16453F;
  text-align: center;
  margin-top: 1rem;
}

.section-aviso {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.section-aviso .aviso-div-productos {
  width: 90%;
}
.section-aviso .aviso-div-productos .aviso-texto {
  font-family: "Narnoor", serif;
  font-size: 0.85rem;
  color: black;
  text-align: center;
}

.section-cakes {
  margin-top: 1.5rem;
}
.section-cakes .h3-cakes {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
  color: black;
  margin-top: 1rem;
  margin-left: 3vw;
}
.section-cakes .tarjeta-chessecakeFr {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-cakes .tarjeta-chessecakeFr .chessecakeFr-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-cakes .tarjeta-chessecakeFr .chessecakeFr-div-contenedor .chessecakeFr-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-cakes .tarjeta-chessecakeFr .chessecakeFr-div-contenedor .chessecakeFr-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-cakes .tarjeta-chessecakeFr .chessecakeFr-div-contenedor .chessecakeFr-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-cakes .tarjeta-chessecakeFr .chessecakeFr-div-contenedor .chessecakeFr-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-cakes .tarjeta-chessecakeFr .chessecakeFr-div-contenedor .chessecakeFr-carrito:hover {
  color: #16453F;
}
.section-cakes .tarjeta-chessecakeFr .chessecakeFr-div-img {
  display: flex;
  align-items: center;
}
.section-cakes .tarjeta-chessecakeFr .chessecakeFr-div-img .chessecakeFr-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-cakes .tarjeta-chessecakeMaracuya {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-cakes .tarjeta-chessecakeMaracuya .chessecakeMaracuya-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-cakes .tarjeta-chessecakeMaracuya .chessecakeMaracuya-div-contenedor .chessecakeMaracuya-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-cakes .tarjeta-chessecakeMaracuya .chessecakeMaracuya-div-contenedor .chessecakeMaracuya-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-cakes .tarjeta-chessecakeMaracuya .chessecakeMaracuya-div-contenedor .chessecakeMaracuya-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-cakes .tarjeta-chessecakeMaracuya .chessecakeMaracuya-div-contenedor .chessecakeMaracuya-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-cakes .tarjeta-chessecakeMaracuya .chessecakeMaracuya-div-contenedor .chessecakeMaracuya-carrito:hover {
  color: #16453F;
}
.section-cakes .tarjeta-chessecakeMaracuya .chessecakeMaracuya-div-img {
  display: flex;
  align-items: center;
}
.section-cakes .tarjeta-chessecakeMaracuya .chessecakeMaracuya-div-img .chessecakeMaracuya-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-cakes .tarjeta-tortaChocolate {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-cakes .tarjeta-tortaChocolate .tortaChocolate-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-cakes .tarjeta-tortaChocolate .tortaChocolate-div-contenedor .tortaChocolate-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-cakes .tarjeta-tortaChocolate .tortaChocolate-div-contenedor .tortaChocolate-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-cakes .tarjeta-tortaChocolate .tortaChocolate-div-contenedor .tortaChocolate-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-cakes .tarjeta-tortaChocolate .tortaChocolate-div-contenedor .tortaChocolate-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-cakes .tarjeta-tortaChocolate .tortaChocolate-div-contenedor .tortaChocolate-carrito:hover {
  color: #16453F;
}
.section-cakes .tarjeta-tortaChocolate .tortaChocolate-div-img {
  display: flex;
  align-items: center;
}
.section-cakes .tarjeta-tortaChocolate .tortaChocolate-div-img .tortaChocolate-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-cakes .tarjeta-lemonPie {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-cakes .tarjeta-lemonPie .lemonPie-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-cakes .tarjeta-lemonPie .lemonPie-div-contenedor .lemonPie-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-cakes .tarjeta-lemonPie .lemonPie-div-contenedor .lemonPie-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-cakes .tarjeta-lemonPie .lemonPie-div-contenedor .lemonPie-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-cakes .tarjeta-lemonPie .lemonPie-div-contenedor .lemonPie-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-cakes .tarjeta-lemonPie .lemonPie-div-contenedor .lemonPie-carrito:hover {
  color: #16453F;
}
.section-cakes .tarjeta-lemonPie .lemonPie-div-img {
  display: flex;
  align-items: center;
}
.section-cakes .tarjeta-lemonPie .lemonPie-div-img .lemonPie-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-cakes .tarjeta-tortaOreo {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-cakes .tarjeta-tortaOreo .tortaOreo-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-cakes .tarjeta-tortaOreo .tortaOreo-div-contenedor .tortaOreo-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-cakes .tarjeta-tortaOreo .tortaOreo-div-contenedor .tortaOreo-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-cakes .tarjeta-tortaOreo .tortaOreo-div-contenedor .tortaOreo-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-cakes .tarjeta-tortaOreo .tortaOreo-div-contenedor .tortaOreo-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-cakes .tarjeta-tortaOreo .tortaOreo-div-contenedor .tortaOreo-carrito:hover {
  color: #16453F;
}
.section-cakes .tarjeta-tortaOreo .tortaOreo-div-img {
  display: flex;
  align-items: center;
}
.section-cakes .tarjeta-tortaOreo .tortaOreo-div-img .tortaOreo-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-cakes .tarjeta-chocotorta {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-cakes .tarjeta-chocotorta .chocotorta-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-cakes .tarjeta-chocotorta .chocotorta-div-contenedor .chocotorta-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-cakes .tarjeta-chocotorta .chocotorta-div-contenedor .chocotorta-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-cakes .tarjeta-chocotorta .chocotorta-div-contenedor .chocotorta-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-cakes .tarjeta-chocotorta .chocotorta-div-contenedor .chocotorta-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-cakes .tarjeta-chocotorta .chocotorta-div-contenedor .chocotorta-carrito:hover {
  color: #16453F;
}
.section-cakes .tarjeta-chocotorta .chocotorta-div-img {
  display: flex;
  align-items: center;
}
.section-cakes .tarjeta-chocotorta .chocotorta-div-img .chocotorta-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-cakes .tarjeta-carrotCake {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-cakes .tarjeta-carrotCake .carrotCake-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-cakes .tarjeta-carrotCake .carrotCake-div-contenedor .carrotCake-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-cakes .tarjeta-carrotCake .carrotCake-div-contenedor .carrotCake-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-cakes .tarjeta-carrotCake .carrotCake-div-contenedor .carrotCake-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-cakes .tarjeta-carrotCake .carrotCake-div-contenedor .carrotCake-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-cakes .tarjeta-carrotCake .carrotCake-div-contenedor .carrotCake-carrito:hover {
  color: #16453F;
}
.section-cakes .tarjeta-carrotCake .carrotCake-div-img {
  display: flex;
  align-items: center;
}
.section-cakes .tarjeta-carrotCake .carrotCake-div-img .carrotCake-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}

.section-sandwichs {
  margin-top: 5rem;
}
.section-sandwichs .h3-sandwichs {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
  color: black;
  margin-top: 1rem;
  margin-left: 3vw;
}
.section-sandwichs .tarjeta-tostadoJYQ {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 0.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-sandwichs .tarjeta-tostadoJYQ .tostadoJYQ-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-sandwichs .tarjeta-tostadoJYQ .tostadoJYQ-div-contenedor .tostadoJYQ-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-sandwichs .tarjeta-tostadoJYQ .tostadoJYQ-div-contenedor .tostadoJYQ-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-sandwichs .tarjeta-tostadoJYQ .tostadoJYQ-div-contenedor .tostadoJYQ-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-sandwichs .tarjeta-tostadoJYQ .tostadoJYQ-div-contenedor .tostadoJYQ-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-sandwichs .tarjeta-tostadoJYQ .tostadoJYQ-div-contenedor .tostadoJYQ-carrito:hover {
  color: #16453F;
}
.section-sandwichs .tarjeta-tostadoJYQ .tostadoJYQ-div-img {
  display: flex;
  align-items: center;
}
.section-sandwichs .tarjeta-tostadoJYQ .tostadoJYQ-div-img .tostadoJYQ-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-sandwichs .tarjeta-tostada {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-sandwichs .tarjeta-tostada .tostada-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-sandwichs .tarjeta-tostada .tostada-div-contenedor .tostada-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-sandwichs .tarjeta-tostada .tostada-div-contenedor .tostada-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-sandwichs .tarjeta-tostada .tostada-div-contenedor .tostada-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-sandwichs .tarjeta-tostada .tostada-div-contenedor .tostada-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-sandwichs .tarjeta-tostada .tostada-div-contenedor .tostada-carrito:hover {
  color: #16453F;
}
.section-sandwichs .tarjeta-tostada .tostada-div-img {
  display: flex;
  align-items: center;
}
.section-sandwichs .tarjeta-tostada .tostada-div-img .tostada-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-sandwichs .tarjeta-sandwichMediterraneo {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-sandwichs .tarjeta-sandwichMediterraneo .sandwichMediterraneo-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-sandwichs .tarjeta-sandwichMediterraneo .sandwichMediterraneo-div-contenedor .sandwichMediterraneo-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-sandwichs .tarjeta-sandwichMediterraneo .sandwichMediterraneo-div-contenedor .sandwichMediterraneo-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-sandwichs .tarjeta-sandwichMediterraneo .sandwichMediterraneo-div-contenedor .sandwichMediterraneo-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-sandwichs .tarjeta-sandwichMediterraneo .sandwichMediterraneo-div-contenedor .sandwichMediterraneo-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-sandwichs .tarjeta-sandwichMediterraneo .sandwichMediterraneo-div-contenedor .sandwichMediterraneo-carrito:hover {
  color: #16453F;
}
.section-sandwichs .tarjeta-sandwichMediterraneo .sandwichMediterraneo-div-img {
  display: flex;
  align-items: center;
}
.section-sandwichs .tarjeta-sandwichMediterraneo .sandwichMediterraneo-div-img .sandwichMediterraneo-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-sandwichs .tarjeta-hamburguesaVeggie {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-sandwichs .tarjeta-hamburguesaVeggie .hamburguesaVeggie-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-sandwichs .tarjeta-hamburguesaVeggie .hamburguesaVeggie-div-contenedor .hamburguesaVeggie-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-sandwichs .tarjeta-hamburguesaVeggie .hamburguesaVeggie-div-contenedor .hamburguesaVeggie-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-sandwichs .tarjeta-hamburguesaVeggie .hamburguesaVeggie-div-contenedor .hamburguesaVeggie-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-sandwichs .tarjeta-hamburguesaVeggie .hamburguesaVeggie-div-contenedor .hamburguesaVeggie-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-sandwichs .tarjeta-hamburguesaVeggie .hamburguesaVeggie-div-contenedor .hamburguesaVeggie-carrito:hover {
  color: #16453F;
}
.section-sandwichs .tarjeta-hamburguesaVeggie .hamburguesaVeggie-div-img {
  display: flex;
  align-items: center;
}
.section-sandwichs .tarjeta-hamburguesaVeggie .hamburguesaVeggie-div-img .hamburguesaVeggie-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}

.section-rollsYCroissants {
  margin-top: 5rem;
}
.section-rollsYCroissants .h3-rollsYCroissants {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
  color: black;
  margin-top: 1rem;
  margin-left: 3vw;
}
.section-rollsYCroissants .tarjeta-rollCanela {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 0.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-rollsYCroissants .tarjeta-rollCanela .rollCanela-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-rollsYCroissants .tarjeta-rollCanela .rollCanela-div-contenedor .rollCanela-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-rollsYCroissants .tarjeta-rollCanela .rollCanela-div-contenedor .rollCanela-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-rollsYCroissants .tarjeta-rollCanela .rollCanela-div-contenedor .rollCanela-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-rollsYCroissants .tarjeta-rollCanela .rollCanela-div-contenedor .rollCanela-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-rollsYCroissants .tarjeta-rollCanela .rollCanela-div-contenedor .rollCanela-carrito:hover {
  color: #16453F;
}
.section-rollsYCroissants .tarjeta-rollCanela .rollCanela-div-img {
  display: flex;
  align-items: center;
}
.section-rollsYCroissants .tarjeta-rollCanela .rollCanela-div-img .rollCanela-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-rollsYCroissants .tarjeta-rollManzana {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-rollsYCroissants .tarjeta-rollManzana .rollManzana-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-rollsYCroissants .tarjeta-rollManzana .rollManzana-div-contenedor .rollManzana-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-rollsYCroissants .tarjeta-rollManzana .rollManzana-div-contenedor .rollManzana-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-rollsYCroissants .tarjeta-rollManzana .rollManzana-div-contenedor .rollManzana-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-rollsYCroissants .tarjeta-rollManzana .rollManzana-div-contenedor .rollManzana-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-rollsYCroissants .tarjeta-rollManzana .rollManzana-div-contenedor .rollManzana-carrito:hover {
  color: #16453F;
}
.section-rollsYCroissants .tarjeta-rollManzana .rollManzana-div-img {
  display: flex;
  align-items: center;
}
.section-rollsYCroissants .tarjeta-rollManzana .rollManzana-div-img .rollManzana-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-rollsYCroissants .tarjeta-rollChocolate {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-rollsYCroissants .tarjeta-rollChocolate .rollChocolate-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-rollsYCroissants .tarjeta-rollChocolate .rollChocolate-div-contenedor .rollChocolate-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-rollsYCroissants .tarjeta-rollChocolate .rollChocolate-div-contenedor .rollChocolate-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-rollsYCroissants .tarjeta-rollChocolate .rollChocolate-div-contenedor .rollChocolate-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-rollsYCroissants .tarjeta-rollChocolate .rollChocolate-div-contenedor .rollChocolate-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-rollsYCroissants .tarjeta-rollChocolate .rollChocolate-div-contenedor .rollChocolate-carrito:hover {
  color: #16453F;
}
.section-rollsYCroissants .tarjeta-rollChocolate .rollChocolate-div-img {
  display: flex;
  align-items: center;
}
.section-rollsYCroissants .tarjeta-rollChocolate .rollChocolate-div-img .rollChocolate-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-rollsYCroissants .tarjeta-croissant {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-rollsYCroissants .tarjeta-croissant .croissant-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-rollsYCroissants .tarjeta-croissant .croissant-div-contenedor .croissant-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-rollsYCroissants .tarjeta-croissant .croissant-div-contenedor .croissant-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-rollsYCroissants .tarjeta-croissant .croissant-div-contenedor .croissant-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-rollsYCroissants .tarjeta-croissant .croissant-div-contenedor .croissant-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-rollsYCroissants .tarjeta-croissant .croissant-div-contenedor .croissant-carrito:hover {
  color: #16453F;
}
.section-rollsYCroissants .tarjeta-croissant .croissant-div-img {
  display: flex;
  align-items: center;
}
.section-rollsYCroissants .tarjeta-croissant .croissant-div-img .croissant-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-rollsYCroissants .tarjeta-croissantChocolate {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-rollsYCroissants .tarjeta-croissantChocolate .croissantChocolate-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-rollsYCroissants .tarjeta-croissantChocolate .croissantChocolate-div-contenedor .croissantChocolate-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-rollsYCroissants .tarjeta-croissantChocolate .croissantChocolate-div-contenedor .croissantChocolate-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-rollsYCroissants .tarjeta-croissantChocolate .croissantChocolate-div-contenedor .croissantChocolate-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-rollsYCroissants .tarjeta-croissantChocolate .croissantChocolate-div-contenedor .croissantChocolate-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-rollsYCroissants .tarjeta-croissantChocolate .croissantChocolate-div-contenedor .croissantChocolate-carrito:hover {
  color: #16453F;
}
.section-rollsYCroissants .tarjeta-croissantChocolate .croissantChocolate-div-img {
  display: flex;
  align-items: center;
}
.section-rollsYCroissants .tarjeta-croissantChocolate .croissantChocolate-div-img .croissantChocolate-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-rollsYCroissants .tarjeta-croissantFR {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-rollsYCroissants .tarjeta-croissantFR .croissantFR-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-rollsYCroissants .tarjeta-croissantFR .croissantFR-div-contenedor .croissantFR-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-rollsYCroissants .tarjeta-croissantFR .croissantFR-div-contenedor .croissantFR-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-rollsYCroissants .tarjeta-croissantFR .croissantFR-div-contenedor .croissantFR-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-rollsYCroissants .tarjeta-croissantFR .croissantFR-div-contenedor .croissantFR-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-rollsYCroissants .tarjeta-croissantFR .croissantFR-div-contenedor .croissantFR-carrito:hover {
  color: #16453F;
}
.section-rollsYCroissants .tarjeta-croissantFR .croissantFR-div-img {
  display: flex;
  align-items: center;
}
.section-rollsYCroissants .tarjeta-croissantFR .croissantFR-div-img .croissantFR-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-rollsYCroissants .tarjeta-croissantOreo {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-rollsYCroissants .tarjeta-croissantOreo .croissantOreo-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-rollsYCroissants .tarjeta-croissantOreo .croissantOreo-div-contenedor .croissantOreo-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-rollsYCroissants .tarjeta-croissantOreo .croissantOreo-div-contenedor .croissantOreo-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-rollsYCroissants .tarjeta-croissantOreo .croissantOreo-div-contenedor .croissantOreo-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-rollsYCroissants .tarjeta-croissantOreo .croissantOreo-div-contenedor .croissantOreo-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-rollsYCroissants .tarjeta-croissantOreo .croissantOreo-div-contenedor .croissantOreo-carrito:hover {
  color: #16453F;
}
.section-rollsYCroissants .tarjeta-croissantOreo .croissantOreo-div-img {
  display: flex;
  align-items: center;
}
.section-rollsYCroissants .tarjeta-croissantOreo .croissantOreo-div-img .croissantOreo-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}

.section-panaderia {
  margin-top: 5rem;
}
.section-panaderia .h3-panaderia {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
  color: black;
  margin-top: 1rem;
  margin-left: 3vw;
}
.section-panaderia .tarjeta-medialuna {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 0.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-panaderia .tarjeta-medialuna .medialuna-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-panaderia .tarjeta-medialuna .medialuna-div-contenedor .medialuna-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-panaderia .tarjeta-medialuna .medialuna-div-contenedor .medialuna-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-panaderia .tarjeta-medialuna .medialuna-div-contenedor .medialuna-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-panaderia .tarjeta-medialuna .medialuna-div-contenedor .medialuna-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-panaderia .tarjeta-medialuna .medialuna-div-contenedor .medialuna-carrito:hover {
  color: #16453F;
}
.section-panaderia .tarjeta-medialuna .medialuna-div-img {
  display: flex;
  align-items: center;
}
.section-panaderia .tarjeta-medialuna .medialuna-div-img .medialuna-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-panaderia .tarjeta-chipa {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-panaderia .tarjeta-chipa .chipa-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-panaderia .tarjeta-chipa .chipa-div-contenedor .chipa-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-panaderia .tarjeta-chipa .chipa-div-contenedor .chipa-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -10px;
}
.section-panaderia .tarjeta-chipa .chipa-div-contenedor .chipa-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-panaderia .tarjeta-chipa .chipa-div-contenedor .chipa-carrito:hover {
  color: #16453F;
}
.section-panaderia .tarjeta-chipa .chipa-div-img {
  display: flex;
  align-items: center;
}
.section-panaderia .tarjeta-chipa .chipa-div-img .chipa-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-panaderia .tarjeta-scone {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-panaderia .tarjeta-scone .scone-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-panaderia .tarjeta-scone .scone-div-contenedor .scone-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-panaderia .tarjeta-scone .scone-div-contenedor .scone-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-panaderia .tarjeta-scone .scone-div-contenedor .scone-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-panaderia .tarjeta-scone .scone-div-contenedor .scone-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-panaderia .tarjeta-scone .scone-div-contenedor .scone-carrito:hover {
  color: #16453F;
}
.section-panaderia .tarjeta-scone .scone-div-img {
  display: flex;
  align-items: center;
}
.section-panaderia .tarjeta-scone .scone-div-img .scone-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-panaderia .tarjeta-donaChocolate {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-panaderia .tarjeta-donaChocolate .donaChocolate-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-panaderia .tarjeta-donaChocolate .donaChocolate-div-contenedor .donaChocolate-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-panaderia .tarjeta-donaChocolate .donaChocolate-div-contenedor .donaChocolate-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-panaderia .tarjeta-donaChocolate .donaChocolate-div-contenedor .donaChocolate-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-panaderia .tarjeta-donaChocolate .donaChocolate-div-contenedor .donaChocolate-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-panaderia .tarjeta-donaChocolate .donaChocolate-div-contenedor .donaChocolate-carrito:hover {
  color: #16453F;
}
.section-panaderia .tarjeta-donaChocolate .donaChocolate-div-img {
  display: flex;
  align-items: center;
}
.section-panaderia .tarjeta-donaChocolate .donaChocolate-div-img .donaChocolate-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}
.section-panaderia .tarjeta-donaLeParadis {
  background-color: #F1E6D0;
  width: 95vw;
  display: grid;
  margin-left: 2vw;
  margin-top: 1.5rem;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}
.section-panaderia .tarjeta-donaLeParadis .donaLeParadis-div-contenedor {
  display: flexbox;
  margin-left: 0.5rem;
}
.section-panaderia .tarjeta-donaLeParadis .donaLeParadis-div-contenedor .donaLeParadis-titulo {
  font-family: "Anton", sans-serif;
  font-size: 0.9rem;
  color: black;
  margin-top: 10px;
}
.section-panaderia .tarjeta-donaLeParadis .donaLeParadis-div-contenedor .donaLeParadis-texto {
  font-family: "Narnoor", serif;
  font-size: 0.8rem;
  color: black;
  margin-top: -10px;
}
.section-panaderia .tarjeta-donaLeParadis .donaLeParadis-div-contenedor .donaLeParadis-precio {
  font-family: "Narnoor", serif;
  font-size: 1rem;
  text-decoration-style: solid;
  color: #541734;
  margin-top: -16px;
}
.section-panaderia .tarjeta-donaLeParadis .donaLeParadis-div-contenedor .donaLeParadis-carrito {
  font-family: "Narnoor", serif;
  font-size: 0.9rem;
  color: black;
  margin-top: -20px;
}
.section-panaderia .tarjeta-donaLeParadis .donaLeParadis-div-contenedor .donaLeParadis-carrito:hover {
  color: #16453F;
}
.section-panaderia .tarjeta-donaLeParadis .donaLeParadis-div-img {
  display: flex;
  align-items: center;
}
.section-panaderia .tarjeta-donaLeParadis .donaLeParadis-div-img .donaLeParadis-img {
  width: 105px;
  height: 105px;
  border-radius: 50px;
}

#reservas {
  background-color: #F1E6D0;
  color: #541734;
  width: 90%;
  margin-top: 1rem;
  margin-left: 5vw;
  border-radius: 16px;
  font-family: "Narnoor", serif;
}
#reservas #formulario {
  margin: 0 auto;
  text-align: center;
  min-height: 540px;
}
#reservas #formulario #nombre {
  margin-top: 6px;
}
#reservas #formulario #apellido {
  margin-top: 6px;
}
#reservas #formulario #dni {
  margin-top: 6px;
}
#reservas #formulario #email {
  margin-top: 6px;
}
#reservas #formulario #telefono {
  margin-top: 6px;
}
#reservas #formulario #cantidad {
  margin-top: 6px;
}
#reservas #formulario #fecha {
  margin-top: 6px;
}
#reservas #formulario .label-e {
  margin-top: 8px;
}
#reservas #formulario .btn {
  background-color: #16453F;
  color: white;
  margin-top: 1.5rem;
}

#div-confirmacion {
  display: flex;
  text-align: center;
  align-items: center;
  width: 90%;
  min-height: 100px;
  margin-left: 4vw;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: #16453F;
}
#div-confirmacion #p-reserva {
  color: #F0DEBB;
  display: flex;
  text-align: center;
  margin-top: 10px;
}

body.dark-mode {
  background-color: #141d26;
}

#h1-link.dark-mode {
  color: white;
}

#presentacion-texto.dark-mode {
  color: white;
}

#presentacion-texto-bienvenida.dark-mode {
  color: #17655b;
}

#boton-hamburguesa.dark-mode {
  background-color: #17655b;
}

#section-productos.dark-mode {
  background-color: #202b34;
  box-shadow: 5px 5px black;
}
#section-productos.dark-mode #productos-titulo.dark-mode {
  color: #17655b;
}
#section-productos.dark-mode #productos-texto.dark-mode {
  color: white;
}
#section-productos.dark-mode #productos-texto.dark-mode #productos-link.dark-mode {
  color: #981955;
}
#section-productos.dark-mode #productos-texto2.dark-mode {
  color: white;
}

#section-reservas.dark-mode {
  background-color: #202b34;
  box-shadow: 5px 5px black;
}
#section-reservas.dark-mode #reservas-titulo.dark-mode {
  color: #17655b;
}
#section-reservas.dark-mode #reservas-texto.dark-mode {
  color: white;
}
#section-reservas.dark-mode #reservas-texto.dark-mode #reservas-link.dark-mode {
  color: #981955;
}

#tarjetas-contenedor.dark-mode {
  background-color: #17655b;
}

#tarjetas-contenedor2.dark-mode {
  background-color: #17655b;
}

#tarjetas-contenedor3.dark-mode {
  background-color: #17655b;
}

#direccion-titulo.dark-mode {
  color: #17655b;
}
#direccion-titulo.dark-mode #direccion-titulo-enlace.dark-mode {
  color: #981955;
}

#galeria-titulo.dark-mode {
  color: #17655b;
}

#info-contenedor.dark-mode {
  background-color: #202b34;
}
#info-contenedor.dark-mode #info-envios-div.dark-mode #info-envios-titulo.dark-mode {
  color: white;
}
#info-contenedor.dark-mode #info-envios-div.dark-mode #info-envios-texto.dark-mode {
  color: white;
}
#info-contenedor.dark-mode #info-pagos-div.dark-mode #info-pagos-titulo.dark-mode {
  color: white;
}
#info-contenedor.dark-mode #info-wspp-div.dark-mode #info-wspp-titulo.dark-mode {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
