.contenedor-carrito {
    display: flexbox;
    text-align: center;
    gap: 1rem;

    .carrito-vacio {
        font-family: $fuente-textos;
        font-size: 1.2rem;
        color: black;
    }

    .carrito-productos {
        display: flexbox;
        gap: 12px;
        margin-top: 2rem;
        margin-left: 2vw;
        .carrito-producto {
            display: flex;
            justify-content: space-between;
            width: 95vw;
            height: auto;
            margin-top: 1rem;
            border-radius: 16px;
            background-color: #F1E6D0;
            color: black;
            gap: 5px;
            align-items:normal;
            .img-producto {
                width: 80px;
                height: auto;
                border-radius: 16px 0px 0px 16px;
            }
            .carrito-producto-titulo {
                font-family: $fuente-textos;
                width: 90px;
                small {
                    font-size: 0.9rem;
                    color: $color-violeta;
                }
                p {
                    font-size: 0.9rem;
                    color: black;
                }
            }
            .carrito-producto-cantidad {
                font-family: $fuente-textos;
                position: relative;
                right: 7px;
                small {
                    font-size: 0.9rem;
                    color: $color-violeta;
                }
                p {
                    font-size: 0.9rem;
                    color: black;
                }
            }
            .carrito-producto-precio {
                font-family: $fuente-textos;
                small {
                    font-size: 0.9rem;
                    color: $color-violeta;
                }
                p {
                    font-size: 0.9rem;
                    color: black;
                }
            }
            .boton-eliminar {
                border: 0;
                background-color: transparent;
                color: #6e0707;
                margin-top: -6px;
                margin-right: 10px;
            }
        }
    }

    .carrito-interacciones {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        .carrito-vaciar {
            margin-left: 4px;
            #carrito-interaccion-vaciar {
                border: 0;
                border-radius: 1rem;
                padding: 0.5rem;
                background-color: $color-verde;
                color: white;
                font-size: 0.9rem;
                text-transform: uppercase;
            }
        }
        .carrito-interaccion-derecha {
            font-size: 0.9rem;
            display: flex;
            margin-right: 8px;
            #carrito-total {
                display: flex;
                height: 38px;
                padding: 0.5rem;
                background-color: $color-violeta;
                color: white;
                text-transform: uppercase;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
            }
            .carrito-comprar {
                #carrito-comprar-boton {
                    border: 0;
                    padding: 0.5rem;
                    height: 38px;
                    background-color: $color-verde;
                    color: white;
                    text-transform: uppercase;
                    border-top-right-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                }
            }
        }
    }

    .carrito-comprado {
        font-family: $fuente-textos;
        font-size: 1.2rem;
        color: black;
    }
}


@media (min-width: 768px) {
    .contenedor-carrito {
        .carrito-interacciones {
            .carrito-vaciar {
                margin-left: 20px;
                #carrito-interaccion-vaciar {
                    font-size: 1.1rem;
                }
            }
            .carrito-interaccion-derecha {
                font-size: 1.1rem;
                margin-right: 20px;
                align-items: center;
                #carrito-total {
                    height: 40px;
                    font-size: 1.1rem;
                }
                .carrito-comprar {
                    #carrito-comprar-boton {
                        height: 40px;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}