/*-----------HEADER----------*/
header {
    display: flex;
    justify-content: space-between;
    background-color: #541734;
    width: 100%;
    .logo {
        width: 30px;
        height: 40px;
        margin-top: 10px;
        margin-left: 10px;
    }
    h1 {
        font-family: $fuente-marca;
        font-size: 2.4rem;
        margin-top: -32px;
        margin-left: 45px;
        color: white;
        width: 130px;
    }
    .navbar {
        .container-fluid {
            margin-left: 2rem;
            .navbar-toggler {
                background-color: $color-fondo;
            }
            .collapse {
                height: 120px;
                .navbar-nav {
                    height: 120px;
                    width: 150px;
                    margin-top: 12px;
                    color: beige;
                    .nav-link {
                        margin-top: -10px;
                        color: beige;
                    }
                }
            }
        }
    }
}


/*----CARRUSEL-----*/
.section-carrusel {
    .carousel {
        max-width: 100%;
        .carousel-inner {
            .carousel-item {
                .carrusel-img {
                    height: 30vh;
                }
            }
        }
    }
}


/*------PRESENTACION-------*/
.section-presentacion {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    .presentacion-texto-bienvenida {
        font-family: $fuente-titulos;
        font-size: 1.3rem;
        color: $color-verde;
        text-align: center;
    }
    .presentacion-texto {
        font-family: $fuente-textos;
        font-size: 1.1rem;
        color: black;
        width: 95%;
        margin-left: 1vw;
        margin-top: -16px;
        text-align: center;
    }
}


/*--------CARTA Y PRODUCTOS---------*/
.section-productos {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    border-top: 2px solid $color-violeta;
    border-bottom: 2px solid $color-violeta;
    .productos-titulo {
        font-family: $fuente-titulos;
        font-size: 1.3rem;
        color: $color-verde;
        text-align: center;
        margin-top: 0.5rem;
    }
    .productos-texto {
        font-family: $fuente-textos;
        font-size: 1.1rem;
        color: black;
        width: 95%;
        margin-left: 1vw;
        margin-top: -2px;
        text-align: center;
        .productos-link {
            font-family: $fuente-titulos;
            text-decoration: none;
            color: $color-violeta;
            &:hover {
                font-size: 1.3rem;
            }
        }
    }
    .productos-texto2 {
        font-family: $fuente-textos;
        font-size: 0.93rem;
        color: black;
        width: 95%;
        margin-left: 1vw;
        margin-top: -16px;
        text-align: center;
    }
}

.section-reservas {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    border-bottom: 2px solid $color-violeta;
    .reservas-titulo {
        font-family: $fuente-titulos;
        font-size: 1.3rem;
        color: $color-verde;
        text-align: center;
        margin-top: 0.3rem;
    }
    .reservas-texto {
        font-family: $fuente-textos;
        font-size: 1.1rem;
        color: black;
        width: 95%;
        margin-left: 1vw;
        margin-top: -2px;
        text-align: center;
        .reservas-link {
            font-family: $fuente-titulos;
            text-decoration: none;
            color: $color-violeta;
            &:hover {
                font-size: 1.3rem;
            }
        }
    }
}


/*------TARJETAS------*/
.section-tarjetas {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    .tarjetas-contenedor {
        background-color: $color-verde;
        height: 150px;
        display: flex;
        width: 95%;
        .tarjetas-img1 {
            width: 130px;
            height: 150px;
            display: flex;
            justify-content: center;
        }
        .tarjetas-estructura {
            display: flexbox;
            .tarjetas-div-oferta1 {
                background-color: $color-violeta;
                border-radius: 30px;
                width: 155px;
                height: 30px;
                margin-left: 5px;
                position: relative;
                top: 10px;
                .tarjetas-oferta1 {
                    color: white;
                    margin-left: 8px;
                    position: relative;
                    top: -2px;
                    font-size: 1.1rem;
                    font-family: $fuente-textos;
                }
            }
            .tarjetas-texto {
                color: white;
                font-size: 1rem;
                font-family: $fuente-textos;
                width: 90%;
                margin-left: 10px;
                position: relative;
                top: 12px;
            }
            .tarjetas-texto-carrito {
                color:beige;
                font-size: 1rem;
                font-family: $fuente-textos;
                margin-left: 10px;
                &:hover {
                    font-size: 1.1rem;
                    text-decoration: underline;
                }
            }
        }
    }
}

.section-tarjetas2 {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    .tarjetas-contenedor2 {
        background-color: $color-verde;
        height: 150px;
        display: flex;
        width: 95%;
        .tarjetas-img2 {
            width: 130px;
            height: 150px;
            display: flex;
            justify-content: center;
        }
        .tarjetas-estructura2 {
            display: flexbox;
            .tarjetas-div-oferta2 {
                background-color: $color-violeta;
                border-radius: 30px;
                width: 112px;
                height: 30px;
                margin-left: 5px;
                position: relative;
                top: 10px;
                .tarjetas-oferta2 {
                    color: white;
                    margin-left: 8px;
                    position: relative;
                    top: -2px;
                    font-size: 1.1rem;
                    font-family: $fuente-textos;
                }
            }
            .tarjetas-texto2 {
                color: white;
                font-size: 1rem;
                font-family: $fuente-textos;
                width: 90%;
                margin-left: 10px;
                position: relative;
                top: 12px;
            }
            .tarjetas-texto-carrito2 {
                color:beige;
                font-size: 1rem;
                font-family: $fuente-textos;
                margin-left: 10px;
                &:hover {
                    font-size: 1.1rem;
                    text-decoration: underline;
                }
            }
        }
    }
}

.section-tarjetas3 {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    .tarjetas-contenedor3 {
        background-color: $color-verde;
        height: 150px;
        display: flex;
        width: 95%;
        .tarjetas-img3 {
            width: 130px;
            height: 150px;
            display: flex;
            justify-content: center;
        }
        .tarjetas-estructura3 {
            display: flexbox;
            .tarjetas-div-oferta3 {
                background-color: $color-violeta;
                border-radius: 30px;
                width: 170px;
                height: 30px;
                margin-left: 5px;
                position: relative;
                top: 10px;
                .tarjetas-oferta3 {
                    color: white;
                    margin-left: 8px;
                    position: relative;
                    top: -2px;
                    font-size: 1.1rem;
                    font-family: $fuente-textos;
                }
            }
            .tarjetas-texto3 {
                color: white;
                font-size: 1rem;
                font-family: $fuente-textos;
                width: 90%;
                margin-left: 10px;
                position: relative;
                top: 12px;
            }
            .tarjetas-texto-carrito3 {
                color:beige;
                font-size: 1rem;
                font-family: $fuente-textos;
                margin-left: 10px;
                &:hover {
                    font-size: 1.1rem;
                    text-decoration: underline;
                }
            }
        }
    }
}


/*------DIRECCION-----*/
.section-direccion {
    margin-top: 6rem;
    text-align: center;
    color: black;
    .direccion-titulo {
        font-family: $fuente-titulos;
        .direccion-titulo-enlace {
            text-decoration: none;
            color: $color-violeta;
        }
    }
    .direccion-maps-contenedor {
        margin-top: 1rem;
        .direccion-maps {
            width: 90vw;
            height: 30vh;
        }
    }
}


/*------GALERIA-------*/
.section-galeria {
    margin-top: 5rem;
    .galeria-titulo {
        font-family: $fuente-titulos;
        font-size: 1.7rem;
        text-align: center;
        color: $color-verde;
    }
    .galeria-contenedor {
        width: 95%;
        margin-left: 2.4vw;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 50% 50%;
        overflow: hidden;
        gap: 2vw;
        .galeria-img1 {
            width: 47vw;
            height: 22vh;
        }
        .galeria-img2 {
            width: 47vw;
            height: 22vh;
        }
        .galeria-img3 {
            width: 47vw;
            height: 22vh;
        }
        .galeria-img4 {
            width: 47vw;
            height: 22vh;
        }
        .galeria-img5 {
            width: 47vw;
            height: 22vh;
        }
        .galeria-img6 {
            width: 47vw;
            height: 22vh;
        }
        .galeria-img7 {
            width: 47vw;
            height: 22vh;
        }
        .galeria-img8 {
            width: 47vw;
            height: 22vh;
        }
    }
}


/*--------INFORMACION DE ENVIOS, PAGOS Y WSPP-------*/
.section-info {
    margin-top: 4rem;
    .info-contenedor {
        width: 100%;
        background-color: #857555;
        .info-envios-div {
            text-align: center;
            display: flex;
            justify-content: center;
            .bi-truck {
                margin-right: 10px;
                margin-top: 6px;
                font-size: 40px;
            }
            .info-envios-estructura {
                margin-right: 2rem;
                margin-top: 1rem;
                .info-envios-titulo {
                    font-family: $fuente-titulos;
                    font-size: 1.2rem;
                    color: black;
                }
                .info-envios-texto {
                    font-family: $fuente-titulos;
                    font-size: 1rem;
                    margin-top: -10px;
                    color: black;
                }
            }
        }
        .info-pagos-div {
            text-align: center;
            display: flex;
            justify-content: center;
            .bi-credit-card-fill {
                margin-top: 5px;
                font-size: 40px;
                margin-right: 10px;
            }
            .info-pagos-estructura {
                margin-top: 1rem;
                margin-right: 2rem;
                .info-pagos-titulo {
                    font-family: $fuente-titulos;
                    font-size: 1.2rem;
                    color: black;
                }
            }
        }
        .info-wspp-div {
            text-align: center;
            display: flex;
            justify-content: center;
            margin-top: 1.5rem;
            margin-right: 28px;
            .bi-whatsapp {
                margin-top: -18px;
                font-size: 40px;
                margin-right: 10px;
            }
            .info-wspp-estructura {
                .info-wspp-titulo {
                    font-family: $fuente-titulos;
                    font-size: 1.2rem;
                    color: black;
                }
            }
        }
    }
}


/*-----FOOTER-----*/
footer {
    margin-top: 4rem;
    background-color: $color-violeta;
    text-align: center;
    height: 760px;
    .footer-nav {
        position: relative;
        top: 1rem;
        .footer-nav-titulo {
            font-family: $fuente-titulos;
            font-size: 1.2rem;
            color: beige;
        }
        .footer-nav-lista {
            list-style: none;
            position: relative;
            left: -20px;
            color: white;
        }
    }
    .footer-redes {
        margin-top: 4rem;
        .redes-titulo {
            font-family: $fuente-titulos;
            font-size: 1.2rem;
            color: beige;
        }
        .redes-lista {
            list-style: none;
            position: relative;
            left: -20px;
            color: white;
        }
    }
    .footer-pagos {
        margin-top: 3rem;
        .pagos-titulo {
            font-family: $fuente-titulos;
            font-size: 1.2rem;
            color: beige;
        }
        .pagos-img {
            margin-top: -0.5rem;
            width: 250px;
        }
    }
    .footer-email {
        margin-top: 3rem;
        .email-titulo {
            font-family: $fuente-titulos;
            font-size: 1.2rem;
            color: beige;
        }
        .email-div-formulario {
            margin-top: 12px;
        }
    }
    .footer-ubicacion {
        margin-top: 3rem;
        .ubicacion-titulo {
            font-family: $fuente-titulos;
            font-size: 1.2rem;
            color: beige;
        }
        .ubicacion-link {
            text-decoration: none;
            color: white;
        }
    }
    .footer-copyright {
        margin-top: 2rem;
        .copyright-texto {
            font-family: $fuente-textos;
            font-size: 1rem;
            color: white;
        }
    }
}
