/*-----------HEADER----------*/
header {
    display: flex;
    justify-content: space-between;
    background-color: #541734;
    width: 100%;

    .logo {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: 10px;
    }

    h1 {
        font-family: $fuente-marca;
        font-size: 2.6rem;
        margin-top: -40px;
        margin-left: 70px;
        width: 135px;
    }

    #h1-link {
        text-decoration: none;
        color: $color-fondo;
    }

    .navbar {
        .container-fluid {
            margin-left: 2rem;

            .navbar-toggler {
                background-color: $color-fondo;
            }

            .collapse {
                min-height: 200px;
                margin-left: -0px;
                width: auto;

                .navbar-nav {
                    min-height: 140px;
                    width: auto;
                    margin-top: 12px;
                    color: beige;

                    .nav-link {
                        margin-top: -10px;
                        color: beige;
                        width: 100%;
                        display: flex;
                    }
                    #numero-carrito {
                        background-color: $color-fondo;
                        color: $color-violeta;
                        padding: 0.03rem .30rem;
                        border-radius: 0.25rem;
                        margin-left: 6px;
                        height: 20%;
                    }
                }

                #color-mode {
                    width: 106px;
                    height: 6vh;
                    font-family: $fuente-textos;
                    position: relative;
                    top: 0px;
                    left: -25px;
                    background-color: $color-verde;
                    color: white;
                    border: solid black 2px;
                }
            }
        }
    }
}


@media (min-width: 350px) {
    header {
        .navbar {
            .container-fluid {
                .collapse {
                    #color-mode {
                        position: relative;
                        top: 0px;
                        left: -5px;
                    }
                }
            }
        }
    }
}


@media (min-width: 768px) {
    header {
        height: 100px;
        width: 100%;
        .logo {
            width: 60px;
            height: 70px;
            margin-top: 14px;
        }
        h1 {
            font-size: 3rem;
            margin-top: -48px;
            margin-left: 70px;
            width: 190px;
        }
        .navbar {
            .container-fluid {
                .navbar-toggler {
                    background-color: $color-fondo;
                }
                .collapse {
                    .navbar-nav {
                        height: 120px;
                        width: 400px;
                        margin-top: 100px;
                        position: relative;
                        left: -50px;
                        color: beige;
                        gap: 3px;
                        .nav-link {
                            font-size: 1rem;
                        }
                    }
                    #color-mode {
                        width: 106px;
                        height: 40px;
                        margin-left: -40px;
                        margin-top: -10px;
                    }
                }
            }
        }
    }
}


@media (min-width: 1200px) {
    header {
        .logo {
            margin-left: 20px;
        }
        h1 {
            font-size: 3.5rem;
            margin-left: 85px;
            margin-top: -57px;
        }
        .navbar {
            .container-fluid {
                .collapse {
                    .navbar-nav {
                        height: 200px;
                        width: 400px;
                        position: relative;
                        top: 30px;
                        left: -150px;
                        gap: 20px;
                        .nav-link {
                            font-size: 1.2rem;
                        }
                        #numero-carrito {
                            height: 30px;
                            padding: 0rem 0.20rem;
                            font-size: 1.2rem;
                        }
                    }
                    #color-mode {
                        width: 106px;
                        height: 40px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}


/*----CARRUSEL-----*/
.section-carrusel {
    .carousel {
        max-width: 100%;

        .carousel-inner {
            .carousel-item {
                .carrusel-img {
                    height: 30vh;
                }
            }
        }
    }
}


@media (min-width: 768px) {
    .section-carrusel {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .carrusel-img {
                        height: 350px;
                    }
                }
            }
        }
    }
}


@media (min-width: 1200px) {
    .section-carrusel {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .carrusel-img {
                        height: 550px;
                    }
                }
            }
        }
    }
}


@media (min-width: 1600px) {
    .section-carrusel {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .carrusel-img {
                        height: 650px;
                    }
                }
            }
        }
    }
}


/*------PRESENTACION-------*/
.section-presentacion {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    #presentacion-texto-bienvenida {
        font-family: $fuente-titulos;
        font-size: 1.3rem;
        color: $color-verde;
        text-align: center;
    }

    #presentacion-texto {
        font-family: $fuente-textos;
        font-size: 1.1rem;
        color: black;
        width: 95%;
        margin-left: 1vw;
        margin-top: -16px;
        text-align: center;
    }
}


@media (min-width: 768px) {
    .section-presentacion {
        margin-top: 2rem;
        #presentacion-texto-bienvenida {
            font-size: 1.5rem;
        }
        #presentacion-texto {
            font-size: 1.2rem;
            width: 80%;
            margin-top: -12px;
            margin-left: 8vw;
        }
    }
}


@media (min-width: 1200px) {
    .section-presentacion {
        margin-top: 2.5rem;
        #presentacion-texto-bienvenida {
            font-size: 2rem;
        }
        #presentacion-texto {
            font-size: 1.35rem;
        }
    }
}


@media (min-width: 1600px) {
    .section-presentacion {
        margin-top: 2.5rem;
        #presentacion-texto-bienvenida {
            font-size: 2.3rem;
        }
        #presentacion-texto {
            font-size: 1.5rem;
        }
    }
}



/*------- PRODUCTOS Y RESERVAS ---------*/
#section-productos {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 92vw;
    background-color: bisque;
    box-shadow: 5px 5px #38383e;
    margin-left: 4vw;
    min-height: 135px;

    #productos-titulo {
        font-family: $fuente-titulos;
        font-size: 1.3rem;
        color: $color-verde;
        text-align: center;
        margin-top: 0.7rem;
    }

    #productos-texto {
        font-family: $fuente-textos;
        font-size: 1.1rem;
        color: black;
        width: 100%;
        margin-left: 1vw;
        margin-top: -2px;
        text-align: center;

        #productos-link {
            font-family: $fuente-titulos;
            text-decoration: none;
            color: $color-violeta;
            font-size: 1rem;

            &:hover {
                font-size: 1.1rem;
            }
        }
    }

    #productos-texto2 {
        font-family: $fuente-textos;
        font-size: 0.93rem;
        color: black;
        width: 100%;
        margin-left: 1vw;
        margin-top: -16px;
        text-align: center;
    }
}


@media (min-width: 1200px) {
    #section-productos {
        margin-top: 5rem;
        box-shadow: 10px 10px #38383e;
        min-height: 135px;
        #productos-titulo {
            font-size: 1.5rem;
            position: relative;
            top: 10px;
        }
        #productos-texto {
            font-size: 1.3rem;
            margin-top: 2px;
            #productos-link {
                font-size: 1.3rem;
                &:hover {
                    font-size: 1.4rem;
                }
            }
        }
        #productos-texto2 {
            font-size: 1.1rem;
        }
    }
}


@media (min-width: 1600px) {
    #section-productos {
        margin-left: 25vw;
        width: 50vw;
    }
}


#section-reservas {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 92vw;
    background-color: bisque;
    box-shadow: 5px 5px #38383e;
    margin-left: 4vw;
    min-height: 70px;

    #reservas-titulo {
        font-family: $fuente-titulos;
        font-size: 1.3rem;
        color: $color-verde;
        text-align: center;
        margin-top: 0.3rem;
    }

    #reservas-texto {
        font-family: $fuente-textos;
        font-size: 1.1rem;
        color: black;
        width: 95%;
        margin-left: 1vw;
        margin-top: -2px;
        text-align: center;

        #reservas-link {
            font-family: $fuente-titulos;
            text-decoration: none;
            color: $color-violeta;
            font-size: 1rem;

            &:hover {
                font-size: 1.1rem;
            }
        }
    }
}


@media (min-width: 1200px) {
    #section-reservas {
        margin-top: 3rem;
        box-shadow: 10px 10px #38383e;
        min-height: 90px;
        #reservas-titulo {
            font-size: 1.5rem;
            position: relative;
            top: 10px;
        }
        #reservas-texto {
            font-size: 1.3rem;
            margin-top: 2px;
            #reservas-link {
                font-size: 1.3rem;
                &:hover {
                    font-size: 1.4rem;
                }
            }
        }
    }
}


@media (min-width: 1600px) {
    #section-reservas {
        margin-left: 25vw;
        width: 50vw;
    }
}


/*------TARJETAS------*/
.section-tarjetas {
    margin-top: 4rem;
    display: flex;
    justify-content: center;

    #tarjetas-contenedor {
        background-color: $color-verde;
        height: 150px;
        display: flex;
        width: 95%;

        .tarjetas-img1 {
            width: 130px;
            height: 150px;
            display: flex;
            justify-content: center;
        }

        .tarjetas-estructura {
            display: flexbox;

            .tarjetas-div-oferta1 {
                background-color: $color-violeta;
                border-radius: 30px;
                width: 155px;
                height: 30px;
                margin-left: 5px;
                position: relative;
                top: 10px;

                .tarjetas-oferta1 {
                    color: white;
                    margin-left: 8px;
                    position: relative;
                    top: -2px;
                    font-size: 1.1rem;
                    font-family: $fuente-textos;
                }
            }

            .tarjetas-texto {
                color: white;
                font-size: 1rem;
                font-family: $fuente-textos;
                width: 90%;
                margin-left: 10px;
                position: relative;
                top: 12px;
            }

            .tarjetas-texto-carrito {
                color: beige;
                font-size: 1rem;
                text-decoration: none;
                font-family: $fuente-textos;
                margin-left: 10px;

                &:hover {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

.section-tarjetas2 {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;

    #tarjetas-contenedor2 {
        background-color: $color-verde;
        height: 150px;
        display: flex;
        width: 95%;

        .tarjetas-img2 {
            width: 130px;
            height: 150px;
            display: flex;
            justify-content: center;
        }

        .tarjetas-estructura2 {
            display: flexbox;

            .tarjetas-div-oferta2 {
                background-color: $color-violeta;
                border-radius: 30px;
                width: 112px;
                height: 30px;
                margin-left: 5px;
                position: relative;
                top: 10px;

                .tarjetas-oferta2 {
                    color: white;
                    margin-left: 8px;
                    position: relative;
                    top: -2px;
                    font-size: 1.1rem;
                    font-family: $fuente-textos;
                }
            }

            .tarjetas-texto2 {
                color: white;
                font-size: 1rem;
                font-family: $fuente-textos;
                width: 90%;
                margin-left: 10px;
                position: relative;
                top: 12px;
            }

            .tarjetas-texto-carrito2 {
                color: beige;
                font-size: 1rem;
                text-decoration: none;
                font-family: $fuente-textos;
                margin-left: 10px;

                &:hover {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

.section-tarjetas3 {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;

    #tarjetas-contenedor3 {
        background-color: $color-verde;
        height: 150px;
        display: flex;
        width: 95%;

        .tarjetas-img3 {
            width: 130px;
            height: 150px;
            display: flex;
            justify-content: center;
        }

        .tarjetas-estructura3 {
            display: flexbox;

            .tarjetas-div-oferta3 {
                background-color: $color-violeta;
                border-radius: 30px;
                width: 170px;
                height: 30px;
                margin-left: 5px;
                position: relative;
                top: 10px;

                .tarjetas-oferta3 {
                    color: white;
                    margin-left: 8px;
                    position: relative;
                    top: -2px;
                    font-size: 1.1rem;
                    font-family: $fuente-textos;
                }
            }

            .tarjetas-texto3 {
                color: white;
                font-size: 1rem;
                font-family: $fuente-textos;
                width: 90%;
                margin-left: 10px;
                position: relative;
                top: 12px;
            }

            .tarjetas-texto-carrito3 {
                color: beige;
                font-size: 1rem;
                text-decoration: none;
                font-family: $fuente-textos;
                margin-left: 10px;

                &:hover {
                    font-size: 1.1rem;
                }
            }
        }
    }
}


@media (min-width: 768px) {
    .section-tarjetas {
        #tarjetas-contenedor {
            height: 170px;
            .tarjetas-img1 {
                width: 180px;
                height: 170px;
                overflow: hidden;
            }
            .tarjetas-estructura {
                display: flexbox;
                margin-left: 4vw;
                margin-top: 25px;
                .tarjetas-texto {
                    font-size: 1.2rem;
                    width: 100%;
                }
                .tarjetas-texto-carrito {
                    font-size: 1.2rem;
                    &:hover {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
    .section-tarjetas2 {
        #tarjetas-contenedor2 {
            height: 170px;
            .tarjetas-img2 {
                width: 180px;
                height: 170px;
                overflow: hidden;
            }
            .tarjetas-estructura2 {
                display: flexbox;
                margin-left: 4vw;
                margin-top: 25px;
                .tarjetas-texto2 {
                    font-size: 1.2rem;
                    width: 100%;
                }
                .tarjetas-texto-carrito2 {
                    font-size: 1.2rem;
                    &:hover {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
    .section-tarjetas3 {
        #tarjetas-contenedor3 {
            height: 170px;
            .tarjetas-img3 {
                width: 180px;
                height: 170px;
                overflow: hidden;
            }
            .tarjetas-estructura3 {
                display: flexbox;
                margin-left: 4vw;
                margin-top: 15px;
                .tarjetas-texto3 {
                    font-size: 1.2rem;
                    width: 90%;
                }
                .tarjetas-texto-carrito3 {
                    font-size: 1.2rem;
                    &:hover {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}


@media (min-width: 1200px) {
    .section-tarjetas {
        margin-top: 7rem;
        #tarjetas-contenedor {
            height: 200px;
            .tarjetas-img1 {
                width: 240px;
                height: 200px;
            }
            .tarjetas-estructura {
                margin-top: 25px;
                .tarjetas-div-oferta1 {
                    width: 220px;
                    height: 40px;
                    .tarjetas-oferta1 {
                        margin-left: 20px;
                        position: relative;
                        top: 0px;
                        font-size: 1.4rem;
                    }
                }
                .tarjetas-texto {
                    font-size: 1.3rem;
                    width: 100%;
                }
                .tarjetas-texto-carrito {
                    font-size: 1.3rem;
                    &:hover {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .section-tarjetas2 {
        #tarjetas-contenedor2 {
            height: 200px;
            .tarjetas-img2 {
                width: 240px;
                height: 200px;
            }
            .tarjetas-estructura2 {
                margin-top: 25px;
                .tarjetas-div-oferta2 {
                    width: 160px;
                    height: 40px;
                    .tarjetas-oferta2 {
                        margin-left: 20px;
                        position: relative;
                        top: 0px;
                        font-size: 1.4rem;
                    }
                }
                .tarjetas-texto2 {
                    font-size: 1.3rem;
                    width: 100%;
                }
                .tarjetas-texto-carrito2 {
                    font-size: 1.3rem;
                    &:hover {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    .section-tarjetas3 {
        #tarjetas-contenedor3 {
            height: 200px;
            .tarjetas-img3 {
                width: 240px;
                height: 200px;
            }
            .tarjetas-estructura3 {
                margin-top: 25px;
                .tarjetas-div-oferta3 {
                    width: 235px;
                    height: 40px;
                    .tarjetas-oferta3 {
                        margin-left: 20px;
                        position: relative;
                        top: 0px;
                        font-size: 1.4rem;
                    }
                }
                .tarjetas-texto3 {
                    font-size: 1.3rem;
                    width: 100%;
                }
                .tarjetas-texto-carrito3 {
                    font-size: 1.3rem;
                    &:hover {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}


/*------DIRECCION-----*/
.section-direccion {
    margin-top: 6rem;
    text-align: center;
    color: black;

    #direccion-titulo {
        font-family: $fuente-titulos;
        #direccion-titulo-enlace {
            text-decoration: none;
            color: $color-violeta;
        }
    }

    .direccion-maps-contenedor {
        margin-top: 1rem;
        .direccion-maps {
            width: 90vw;
            height: 30vh;
        }
    }
}


@media (min-width: 768px) {
    .section-direccion {
        #direccion-titulo {
            font-size: 1.5rem;
        }
        .direccion-maps-contenedor {
            margin-top: 1rem;
            .direccion-maps {
                width: 90vw;
                height: 50vh;
            }
        }
    }
}


@media (min-width: 1200px) {
    .section-direccion {
        margin-top: 8rem;
        #direccion-titulo {
            font-size: 2rem;
        }
        .direccion-maps-contenedor {
            margin-top: 1rem;
            .direccion-maps {
                width: 90vw;
                height: 60vh;
            }
        }
    }
}


/*------GALERIA-------*/
.section-galeria {
    margin-top: 5rem;

    #galeria-titulo {
        font-family: $fuente-titulos;
        font-size: 1.7rem;
        text-align: center;
        color: $color-verde;
    }

    .galeria-contenedor {
        width: 95%;
        margin-left: 2.4vw;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 50% 50%;
        overflow: hidden;
        gap: 2vw;

        .galeria-img1 {
            width: 47vw;
            height: 22vh;
        }

        .galeria-img2 {
            width: 47vw;
            height: 22vh;
        }

        .galeria-img3 {
            width: 47vw;
            height: 22vh;
        }

        .galeria-img4 {
            width: 47vw;
            height: 22vh;
        }

        .galeria-img5 {
            width: 47vw;
            height: 22vh;
        }

        .galeria-img6 {
            width: 47vw;
            height: 22vh;
        }

        .galeria-img7 {
            width: 47vw;
            height: 22vh;
        }

        .galeria-img8 {
            width: 47vw;
            height: 22vh;
        }
    }
}


@media (min-width: 768px) {
    .section-galeria {
        #galeria-titulo {
            font-size: 2rem;
            margin-left: 3vw;
        }
        .galeria-contenedor {
            width: 80%;
            margin-left: 10vw;
            gap: 3vw;
            .galeria-img1 {
                width: 40vw;
                height: 250px;
            }
            .galeria-img2 {
                width: 40vw;
                height: 250px;
            }
            .galeria-img3 {
                width: 40vw;
                height: 250px;
            }
            .galeria-img4 {
                width: 40vw;
                height: 250px;
            }
            .galeria-img5 {
                width: 40vw;
                height: 250px;
            }
            .galeria-img6 {
                width: 40vw;
                height: 250px;
            }
            .galeria-img7 {
                width: 40vw;
                height: 250px;
            }
            .galeria-img8 {
                width: 40vw;
                height: 250px;
            }
        }
    }
}


@media (min-width: 1200px) {
    .section-galeria {
        #galeria-titulo {
            font-size: 2.3rem;
            margin-left: 4vw;
        }
        .galeria-contenedor {
            margin-top: 2rem;
            .galeria-img1 {
                height: 350px;
            }
            .galeria-img2 {
                height: 350px;
            }
            .galeria-img3 {
                height: 350px;
            }
            .galeria-img4 {
                height: 350px;
            }
            .galeria-img5 {
                height: 350px;
            }
            .galeria-img6 {
                height: 350px;
            }
            .galeria-img7 {
                height: 350px;
            }
            .galeria-img8 {
                height: 350px;
            }
        }
    }
}


@media (min-width: 1600px) {
    .section-galeria {
        #galeria-titulo {
            font-size: 2.3rem;
        }
        .galeria-contenedor {
            .galeria-img1 {
                height: 450px;
            }
            .galeria-img2 {
                height: 450px;
            }
            .galeria-img3 {
                height: 450px;
            }
            .galeria-img4 {
                height: 450px;
            }
            .galeria-img5 {
                height: 450px;
            }
            .galeria-img6 {
                height: 450px;
            }
            .galeria-img7 {
                height: 450px;
            }
            .galeria-img8 {
                height: 450px;
            }
        }
    }
}


/*--------INFORMACION DE ENVIOS, PAGOS Y WSPP-------*/
.section-info {
    margin-top: 4rem;

    #info-contenedor {
        width: 100%;
        background-color: #857555;

        #info-envios-div {
            text-align: center;
            display: flex;
            justify-content: center;

            .bi-truck {
                margin-right: 10px;
                margin-top: 6px;
                font-size: 40px;
                color: black
            }

            .info-envios-estructura {
                margin-right: 2rem;
                margin-top: 1rem;

                #info-envios-titulo {
                    font-family: $fuente-titulos;
                    font-size: 1.2rem;
                    color: black;
                }

                #info-envios-texto {
                    font-family: $fuente-titulos;
                    font-size: 1rem;
                    margin-top: -10px;
                    color: black;
                }
            }
        }

        #info-pagos-div {
            text-align: center;
            display: flex;
            justify-content: center;

            .bi-credit-card-fill {
                margin-top: 5px;
                font-size: 40px;
                margin-right: 10px;
                color: black;
            }

            .info-pagos-estructura {
                margin-top: 1rem;
                margin-right: 2rem;

                #info-pagos-titulo {
                    font-family: $fuente-titulos;
                    font-size: 1.2rem;
                    color: black;
                }
            }
        }

        #info-wspp-div {
            text-align: center;
            display: flex;
            justify-content: center;
            margin-top: 1.5rem;
            margin-right: 28px;

            .bi-whatsapp {
                margin-top: -18px;
                font-size: 40px;
                margin-right: 10px;
                color: black;
            }

            .info-wspp-estructura {
                #info-wspp-titulo {
                    font-family: $fuente-titulos;
                    font-size: 1.2rem;
                    color: black;
                }
            }
        }
    }
}


@media (min-width: 768px) {
    .section-info {
        margin-top: 7rem;
    }
}


@media (min-width: 1200px) {
    .section-info {
        display: flex;
        text-align: center;
        justify-content: center;
        height: 130px;
        #info-contenedor {
            display: flex;
            justify-content: space-around;
            align-items: center;
            #info-envios-div {
                .bi-truck {
                    font-size: 60px;
                }
                .info-envios-estructura {
                    margin-right: 2rem;
                    margin-top: 2rem;
                    #info-envios-titulo {
                        font-size: 1.4rem;
                    }
                    #info-envios-texto {
                        font-size: 1.3rem;
                        margin-top: -10px;
                    }
                }
            }
            #info-pagos-div {
                .bi-credit-card-fill {
                    font-size: 60px;
                }
                .info-pagos-estructura {
                    margin-right: 2rem;
                    margin-top: 2rem;
                    #info-pagos-titulo {
                        font-size: 1.4rem;
                    }
                }
            }
            #info-wspp-div {
                margin-top: 1.5rem;
                margin-right: 28px;
                .bi-whatsapp {
                    font-size: 60px;
                }
                .info-wspp-estructura {
                    #info-wspp-titulo {
                        font-size: 1.4rem;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}


/*-----FOOTER-----*/
footer {
    margin-top: 4rem;
    background-color: $color-violeta;
    text-align: center;
    height: 820px;


    .footer-nav {
        position: relative;
        top: 1rem;
        .footer-nav-titulo {
            font-family: $fuente-titulos;
            font-size: 1.2rem;
            color: beige;
        }
        .footer-nav-lista {
            list-style: none;
            position: relative;
            left: -20px;
            font-family: $fuente-textos;
            .footer-nav-links {
                text-decoration: none;
                color: white;
            }
            .link-in {
                &:hover {
                    color: $color-verde;
                    font-size: 1.1rem;
                }
            }
            .link-pr {
                &:hover {
                    color: $color-verde;
                    font-size: 1.1rem;
                }
            }
            .link-re {
                &:hover {
                    color: $color-verde;
                    font-size: 1.1rem;
                }
            }
            .link-co {
                &:hover {
                    color: $color-verde;
                    font-size: 1.1rem;
                }
            }
        }
    }


    .footer-redes {
        margin-top: 4rem;
        .redes-titulo {
            font-family: $fuente-titulos;
            font-size: 1.2rem;
            color: beige;
        }
        .redes-lista {
            list-style: none;
            position: relative;
            left: -20px;
            color: white;
            .redes-ig {
                &:hover {
                    color: #833AB4;
                    font-size: 1.1rem;
                }
            }
            .redes-fb {
                &:hover {
                    color: #3b5998;
                    font-size: 1.1rem;
                }
            }
            .redes-tw {
                &:hover {
                    color: #00acee;
                    font-size: 1.1rem;
                }
            }
        }
    }


    .footer-pagos {
        margin-top: 3rem;
        .pagos-titulo {
            font-family: $fuente-titulos;
            font-size: 1.2rem;
            color: beige;
        }
        .pagos-img {
            margin-top: -0.5rem;
            width: 250px;
        }
    }


    .footer-email {
        margin-top: 3rem;
        .email-titulo {
            font-family: $fuente-titulos;
            font-size: 1.2rem;
            color: beige;
        }
        .email-div-formulario {
            margin-top: 12px;
            #email-enviar {
                width: 60px;
                height: 30px;
                background-color: $color-verde;
                color: white;
                border-radius: 30px solid black;
            }
        }
    }

    .footer-ubicacion {
        margin-top: 3rem;
        .ubicacion-titulo {
            font-family: $fuente-titulos;
            font-size: 1.2rem;
            color: beige;
        }
        .ubicacion-link {
            text-decoration: none;
            color: white;
            &:hover {
                font-size: 1.1rem;
                color: $color-verde;
            }
        }
    }


    .footer-copyright {
        margin-top: 2rem;
        .copyright-texto {
            font-family: $fuente-textos;
            font-size: 1rem;
            color: white;
        }
    }
}


@media (min-width: 768px) {
    footer {
        margin-top: 8rem;
        height: 900px;
        .footer-nav {
            .footer-nav-titulo {
                font-size: 1.5rem;
            }
            .footer-nav-lista {
                .footer-nav-links {
                    font-size: 1.3rem;
                }
                .link-in {
                    &:hover {
                        font-size: 1.4rem;
                    }
                }
                .link-pr {
                    &:hover {
                        font-size: 1.4rem;
                    }
                }
                .link-re {
                    &:hover {
                        font-size: 1.4rem;
                    }
                }
                .link-co {
                    &:hover {
                        font-size: 1.4rem;                    
                    }
                }
            }
        }
        .footer-redes {
            .redes-titulo {
                font-size: 1.5rem;
            }
            .redes-lista {
                .redes-ig {
                    font-size: 1.3rem;
                    &:hover {
                        font-size: 1.4rem;  
                    }
                }
                .redes-fb {
                    font-size: 1.3rem;
                    &:hover {
                        font-size: 1.4rem;  
                    }
                }
                .redes-tw {
                    font-size: 1.3rem;
                    &:hover {
                        font-size: 1.4rem;  
                    }
                }
            }
        }
        .footer-pagos {
            .pagos-titulo {
                font-size: 1.5rem;
            }
            .pagos-img {
                margin-top: -0.5rem;
                width: 400px;
            }
        }
        .footer-email {
            margin-top: 3rem;
            .email-titulo {
                font-size: 1.5rem;
            }
            .email-div-formulario {
                #email-recuadro {
                    width: 300px;
                }
                #email-enviar {
                    width: 90px;
                    height: 35px;
                    margin-left: 10px;
                    margin-top: -4px;
                }
            }
        }
        .footer-ubicacion {
            .ubicacion-titulo {
                font-size: 1.5rem;
            }
            .ubicacion-link {
                font-size: 1.3rem;
                &:hover {
                    font-size: 1.4rem;
                }
            }
        }
        .footer-copyright {
            .copyright-texto {
                font-size: 1.3rem;
            }
        }
    }
}
