//-----------------TITULO Y AVISO-----------------//
h2 {
    font-family: $fuente-titulos;
    font-size: 1.7rem;
    color: $color-verde;
    text-align: center;
    margin-top: 1rem;
}

.section-aviso {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    .aviso-div-productos {
        width: 90%;
        .aviso-texto {
            font-family: $fuente-textos;
            font-size: 0.85rem;
            color: black;
            text-align: center;
        }
    }
}


@media (min-width: 768px) {
    h2 {
        font-size: 2rem;
        margin-top: 2rem;
    }
    .section-aviso {
        .aviso-div-productos {
            .aviso-texto {
                font-family: $fuente-textos;
                font-size: 1.1rem;
            }
        }
    }
}


@media (min-width: 1200px) {
    h2 {
        font-size: 2.3rem;
    }
    .section-aviso {
        .aviso-div-productos {
            .aviso-texto {
                font-family: $fuente-textos;
                font-size: 1.3rem;
            }
        }
    }
}

// Declaracion general de productos

.producto {
    background-color: #F1E6D0;
    width: 95vw;
    display: grid;
    margin-left: 2vw;
    margin-top: 2rem;
    grid-template-columns: 65% 35%;
    overflow: hidden;
    .producto-div-contenedor{
        display: flexbox;
        margin-left: 0.5rem;
        .producto-titulo {
            font-family: $fuente-titulos;
            font-size: 0.9rem;
            color: black;
            margin-top: 10px;
        }
        .producto-texto {
            font-family: $fuente-textos;
            font-size: 0.8rem;
            color: black;
            margin-top: -10px;
        }
        .producto-precio {
            font-family: $fuente-textos;
            font-size: 1rem;
            text-decoration-style: solid;
            color: $color-violeta;
            margin-top: -16px;
        }
        .producto-carrito {
            border: 0;
            padding: 0.3rem;
            margin-left: -7px;
            background-color: $color-verde;
            color: white;
            font-size: 0.9rem;
            text-transform: uppercase;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            &:hover {
                font-size: 0.95rem;
            }
        }
    }
    .producto-div-img {
        display: flex;
        justify-content: end;
        align-items: center;
        .producto-img {
            width: 105px;
            height: 105px;
            border-radius: 50px;
            margin-right: 10px;
            text-align: end;
        }
    }
}


@media (min-width: 768px) {
    .producto {
        .producto-div-contenedor {
            .producto-titulo {
                font-size: 1.1rem;
            }
            .producto-texto {
                font-size: 1rem;
                color: black;
            }
            .producto-precio {
                font-size: 1.3rem;
            }
            .producto-carrito {
                font-size: 1rem;
                margin-top: -20px;
                &:hover {
                    font-size: 1.05rem
                }
            }
        }
        .producto-div-img {
            .producto-img {
                width: 125px;
                height: 125px;
                border-radius: 70px;
            }
        }
    }
}


//----------------SECCION PRODUCTOS-------------------//
.section-productos {
    margin-top: 1.5rem;
    .h3-productos {
        font-family: $fuente-titulos;
        font-size: 1.3rem;
        color: black;
        margin-top: 1rem;
        margin-left: 3vw;
    }
}

@media (min-width: 768px) {
    .section-productos {
        margin-top: 4rem;
        .h3-productos {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 1200px) {
    .section-productos {
        .h3-productos {
            font-size: 1.7rem;
            margin-left: 2.2vw;
        }
    }
}