//-----------------TITULO Y AVISO-----------------//
h2 {
    font-family: $fuente-titulos;
    font-size: 1.7rem;
    color: $color-verde;
    text-align: center;
    margin-top: 1rem;
}

.section-aviso {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    .aviso-div-productos {
        width: 90%;
        .aviso-texto {
            font-family: $fuente-textos;
            font-size: 0.85rem;
            color: black;
            text-align: center;
        }
    }
}

//----------------SECCION CAKES-------------------//
.section-cakes {
    margin-top: 1.5rem;
    .h3-cakes {
        font-family: $fuente-titulos;
        font-size: 1.3rem;
        color: black;
        margin-top: 1rem;
        margin-left: 3vw;
    }

    #tarjeta-chessecakeFr {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .chessecakeFr-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .chessecakeFr-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .chessecakeFr-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .chessecakeFr-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .chessecakeFr-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .chessecakeFr-div-img {
            display: flex;
            align-items: center;
            .chessecakeFr-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-chessecakeMaracuya {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .chessecakeMaracuya-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .chessecakeMaracuya-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .chessecakeMaracuya-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .chessecakeMaracuya-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .chessecakeMaracuya-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .chessecakeMaracuya-div-img {
            display: flex;
            align-items: center;
            .chessecakeMaracuya-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-tortaChocolate {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .tortaChocolate-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .tortaChocolate-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .tortaChocolate-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .tortaChocolate-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .tortaChocolate-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .tortaChocolate-div-img {
            display: flex;
            align-items: center;
            .tortaChocolate-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }    

    #tarjeta-lemonPie {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .lemonPie-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .lemonPie-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .lemonPie-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .lemonPie-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .lemonPie-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .lemonPie-div-img {
            display: flex;
            align-items: center;
            .lemonPie-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-tortaOreo {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .tortaOreo-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .tortaOreo-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .tortaOreo-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .tortaOreo-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .tortaOreo-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .tortaOreo-div-img {
            display: flex;
            align-items: center;
            .tortaOreo-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-chocotorta {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .chocotorta-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .chocotorta-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .chocotorta-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .chocotorta-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .chocotorta-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .chocotorta-div-img {
            display: flex;
            align-items: center;
            .chocotorta-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-carrotCake {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .carrotCake-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .carrotCake-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .carrotCake-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .carrotCake-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .carrotCake-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .carrotCake-div-img {
            display: flex;
            align-items: center;
            .carrotCake-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }
}


//---------------------SECCION SANDWICHS-------------------//
.section-sandwichs {
    margin-top: 5rem;
    .h3-sandwichs {
        font-family: $fuente-titulos;
        font-size: 1.3rem;
        color: black;
        margin-top: 1rem;
        margin-left: 3vw;
    }

    #tarjeta-tostadoJYQ {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 0.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .tostadoJYQ-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .tostadoJYQ-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .tostadoJYQ-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .tostadoJYQ-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .tostadoJYQ-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .tostadoJYQ-div-img {
            display: flex;
            align-items: center;
            .tostadoJYQ-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-tostada {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .tostada-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .tostada-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .tostada-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .tostada-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .tostada-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .tostada-div-img {
            display: flex;
            align-items: center;
            .tostada-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-sandwichMediterraneo {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .sandwichMediterraneo-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .sandwichMediterraneo-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .sandwichMediterraneo-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .sandwichMediterraneo-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .sandwichMediterraneo-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .sandwichMediterraneo-div-img {
            display: flex;
            align-items: center;
            .sandwichMediterraneo-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-hamburguesaVeggie {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .hamburguesaVeggie-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .hamburguesaVeggie-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .hamburguesaVeggie-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .hamburguesaVeggie-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .hamburguesaVeggie-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .hamburguesaVeggie-div-img {
            display: flex;
            align-items: center;
            .hamburguesaVeggie-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }
}


//----------------SECCION ROLLS Y CROISSANTS------------//
.section-rollsYCroissants {
    margin-top: 5rem;
    .h3-rollsYCroissants {
        font-family: $fuente-titulos;
        font-size: 1.3rem;
        color: black;
        margin-top: 1rem;
        margin-left: 3vw;
    }

    #tarjeta-rollCanela {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 0.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .rollCanela-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .rollCanela-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .rollCanela-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .rollCanela-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .rollCanela-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .rollCanela-div-img {
            display: flex;
            align-items: center;
            .rollCanela-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-rollManzana {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .rollManzana-div-contenedor {
            display: flexbox;
            margin-left: 0.5rem;
            .rollManzana-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .rollManzana-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .rollManzana-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .rollManzana-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .rollManzana-div-img {
            display: flex;
            align-items: center;
            .rollManzana-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-rollChocolate {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .rollChocolate-div-contenedor {
            display: flexbox;
            margin-left: 0.5rem;
            .rollChocolate-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .rollChocolate-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .rollChocolate-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .rollChocolate-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .rollChocolate-div-img {
            display: flex;
            align-items: center;
            .rollChocolate-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-croissant {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .croissant-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .croissant-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .croissant-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .croissant-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .croissant-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .croissant-div-img {
            display: flex;
            align-items: center;
            .croissant-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-croissantChocolate {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .croissantChocolate-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .croissantChocolate-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .croissantChocolate-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .croissantChocolate-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .croissantChocolate-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .croissantChocolate-div-img {
            display: flex;
            align-items: center;
            .croissantChocolate-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-croissantFR {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .croissantFR-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .croissantFR-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .croissantFR-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .croissantFR-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .croissantFR-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .croissantFR-div-img {
            display: flex;
            align-items: center;
            .croissantFR-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-croissantOreo {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .croissantOreo-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .croissantOreo-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .croissantOreo-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .croissantOreo-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .croissantOreo-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .croissantOreo-div-img {
            display: flex;
            align-items: center;
            .croissantOreo-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }
}



//-----------------------SECCION PANADERIA---------------//
.section-panaderia {
    margin-top: 5rem;
    .h3-panaderia {
        font-family: $fuente-titulos;
        font-size: 1.3rem;
        color: black;
        margin-top: 1rem;
        margin-left: 3vw;
    }

    #tarjeta-medialuna {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 0.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .medialuna-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .medialuna-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .medialuna-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .medialuna-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .medialuna-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .medialuna-div-img {
            display: flex;
            align-items: center;
            .medialuna-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-chipa {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .chipa-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .chipa-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .chipa-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -10px;
            }
            .chipa-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .chipa-div-img {
            display: flex;
            align-items: center;
            .chipa-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-scone {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .scone-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .scone-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .scone-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .scone-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .scone-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .scone-div-img {
            display: flex;
            align-items: center;
            .scone-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-donaChocolate {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .donaChocolate-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .donaChocolate-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .donaChocolate-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .donaChocolate-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .donaChocolate-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .donaChocolate-div-img {
            display: flex;
            align-items: center;
            .donaChocolate-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }

    #tarjeta-donaLeParadis {
        background-color: #F1E6D0;
        width: 95vw;
        display: grid;
        margin-left: 2vw;
        margin-top: 1.5rem;
        grid-template-columns: 65% 35%;
        overflow: hidden;
        .donaLeParadis-div-contenedor{
            display: flexbox;
            margin-left: 0.5rem;
            .donaLeParadis-titulo {
                font-family: $fuente-titulos;
                font-size: 0.9rem;
                color: black;
                margin-top: 10px;
            }
            .donaLeParadis-texto {
                font-family: $fuente-textos;
                font-size: 0.8rem;
                color: black;
                margin-top: -10px;
            }
            .donaLeParadis-precio {
                font-family: $fuente-textos;
                font-size: 1rem;
                text-decoration-style: solid;
                color: $color-violeta;
                margin-top: -16px;
            }
            .donaLeParadis-carrito {
                font-family: $fuente-textos;
                font-size: 0.9rem;
                color: black;
                margin-top: -20px;
                &:hover {
                    color: $color-verde;
                }
            }
        }
        .donaLeParadis-div-img {
            display: flex;
            align-items: center;
            .donaLeParadis-img {
                width: 105px;
                height: 105px;
                border-radius: 50px;
            }
        }
    }
}