#reservas {
    background-color: #F1E6D0;
    color: $color-violeta;
    width: 90%;
    margin-top: 1rem;
    margin-left: 5vw;
    border-radius: 16px;
    font-family: $fuente-textos;

    #formulario {
        margin: 0 auto;
        text-align: center;
        min-height: 540px;

        #nombre {
            margin-top: 6px;
        }

        #apellido {
            margin-top: 6px;
        }

        #dni {
            margin-top: 6px;
        }

        #email {
            margin-top: 6px;
        }

        #telefono {
            margin-top: 6px;
        }

        #cantidad {
            margin-top: 6px;
        }

        #fecha {
            margin-top: 6px;
        }

        .label-e {
            margin-top: 8px;
        }

        .btn {
            background-color: $color-verde;
            color: white;
            margin-top: 1.5rem;
        }
    }
}


@media (min-width: 768px) {
    #reservas {
        font-size: 1.2rem;
        #formulario {
            min-height: 610px;
        }
    }
}


#div-confirmacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 100px;
    margin-left: 5vw;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: $color-verde;
    background-color: $color-fondo;
    #p-reserva {
        color: $color-fondo;
        color: white;
        display: flex;
        text-align: center;
    }
}

#div-confirmacion.cambiar-div-confirmacion {
    background-color: $color-verde;
}