//////////////////////////    INDEX    /////////////////////////

body.dark-mode {
    background-color: #141d26;
}

#h1-link.dark-mode {
    color: white;
}

#presentacion-texto.dark-mode {
    color: white;
}

#presentacion-texto-bienvenida.dark-mode {
    color: #17655b;
}

#boton-hamburguesa.dark-mode {
    background-color: #17655b;
}

#section-productos.dark-mode {
    background-color: #202b34;
    box-shadow: 5px 5px black;
    #productos-titulo.dark-mode {
        color: #17655b;
    }
    #productos-texto.dark-mode {
        color: white;
        #productos-link.dark-mode {
            color: #981955;
        }
    }
    #productos-texto2.dark-mode {
        color: white;
    }
}

#section-reservas.dark-mode {
    background-color: #202b34;
    box-shadow: 5px 5px black;
    #reservas-titulo.dark-mode {
        color: #17655b;
    }
    #reservas-texto.dark-mode {
        color: white;
        #reservas-link.dark-mode {
            color: #981955;
        }
    }
}

#tarjetas-contenedor.dark-mode {
    background-color: #17655b;
}

#tarjetas-contenedor2.dark-mode {
    background-color: #17655b;
}

#tarjetas-contenedor3.dark-mode {
    background-color: #17655b;
}

#direccion-titulo.dark-mode {
    color: #17655b;
    #direccion-titulo-enlace.dark-mode {
        color: #981955;
    }
}

#galeria-titulo.dark-mode {
    color: #17655b;
}

#info-contenedor.dark-mode {
    background-color: #202b34;
    #info-envios-div.dark-mode {
        #info-envios-titulo.dark-mode {
            color: white;
        }
        #info-envios-texto.dark-mode {
            color: white;
        }
    }
    #info-pagos-div.dark-mode {
        #info-pagos-titulo.dark-mode {
            color: white;
        }
    }
    #info-wspp-div.dark-mode {
        #info-wspp-titulo.dark-mode {
            color: white;
        }
    }
}



/////////////////////////////   PRODUCTOS   ///////////////////////////////////

h2.dark-mode {
    color: #17655b;
}

#aviso.dark-mode {
    color: white;
}



#titulo1.dark-mode {
    color: white;
}

#tarjeta-chessecakeFr.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-chessecakeMaracuya.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-tortaChocolate.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-lemonPie.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-tortaOreo.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-chocotorta.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-carrotCake.dark-mode {
    background-color: whitesmoke;
}



#titulo2.dark-mode {
    color: white;
}

#tarjeta-tostadoJYQ.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-tostada.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-sandwichMediterraneo.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-hamburguesaVeggie.dark-mode {
    background-color: whitesmoke;
}



#titulo3.dark-mode {
    color: white;
}

#tarjeta-rollCanela.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-rollManzana.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-rollChocolate.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-croissant.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-croissantChocolate.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-croissantFR.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-croissantOreo.dark-mode {
    background-color: whitesmoke;
}



#titulo4.dark-mode {
    color: white;
}

#tarjeta-medialuna.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-chipa.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-scone.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-donaChocolate.dark-mode {
    background-color: whitesmoke;
}

#tarjeta-donaLeParadis.dark-mode {
    background-color: whitesmoke;
}



///////////////////////////    RESERVAS    /////////////////////////

#reservas.dark-mode {
    background-color: #202b34;
    color: whitesmoke;
}

#div-confirmacion.dark-mode {
    background-color: #141d26;
}

#div-confirmacion.cambiar-div-confirmacion.dark-mode {
    background-color:  #202b34;;
}


////////////////////////////// CONTACTO ////////////////////////////

#titulo-trabajo.dark-mode {
    color: #17655b;
}

#trabajo-texto.dark-mode {
    color: white;
}

#formulario-trabajo.dark-mode {
    background-color: #202b34;
    color: whitesmoke;
}

#contacto-texto.dark-mode {
    color: white;
}