// DARK MODE

body.dark-mode {
    background-color: #141d26;
}

#h1-link.dark-mode {
    color: white;
}

#presentacion-texto.dark-mode {
    color: white;
}

#boton-hamburguesa.dark-mode {
    background-color: $color-verde;
}

header.dark-mode {
    background-color: #1b0737;
}